:root {
    --background-color: #F2F2F2;
    --background-tile-color: #FFFFFF;
    --primary-color: #007AFF;
    --secondary-color: #E5E5E5;
    --text-color: #000000;
    --white-color: #FFFFFF;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --red: #FF3B30;
    --yellow: #FFCC00;
    --green: #34C759;
    --indigo: #5856D6;
    --purple: #AF52DE;
}

[data-theme="dark"] {
    --background-color: #1B1B1B;
    --background-tile-color: #282828;
    --primary-color: #0A84FF;
    --secondary-color: #3F3F3F;
    --text-color: #FFFFFF;
    --white-color: #FFFFFF;
    --box-shadow-color: rgba(255, 255, 255, 0.1);
    --red: #FF453A;
    --yellow: #FFD60A;
    --green: #30D158;
    --indigo: #5e5ce6;
    --purple: #BF5AF2;
}

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto; /* Override width property */
    height: auto; /* Override height property */
}

.wrapping-tile {
    background-color: var(--background-tile-color);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
}

.spaced-tile {
    margin-bottom: 20px;
}

.inner-tile {
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.button-gray {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
}

.button-gray:hover {
    background-color: var(--primary-color);
}

.button-delete {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    width: 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    float: right;
    text-decoration:none;
    -webkit-appearance: none;
}

.button-delete:hover {
    background-color: var(--red);
}


.message:focus {
    border-color: var(--box-shadow-color);
    outline: none;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    /*background-color: var(--background-tile-color);*/
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
    /*box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);*/
}

.message {
    border-radius: 20px;
    padding: 10px;
    margin: 0px; /* Adjust this value as needed */
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    position: relative;
}

.left-bubble {
    background-color: var(--secondary-color);
    align-self: flex-start;
    max-width: 70%;
    text-align: left;
    position: relative;
}

.left-bubble:before {
    content: "";
    position: absolute;
    bottom: -15px; /* Adjust this value as needed */
    left: -10px; /* Adjust this value as needed */
    rotate: 35deg;
    border-style: solid;
    border-width: 20px 20px 10px 0;
    border-color: var(--secondary-color) transparent transparent transparent;
}

.right-bubble {
    background-color: var(--primary-color);
    color: var(--white-color);
    align-self: flex-end;
    text-align: left;
    align-items: flex-end;
    max-width: 70%;
    position: relative;
}

.right-bubble:before {
    content: "";
    position: absolute;
    bottom: -15px; /* Adjust this value as needed */
    right: 0px; /* Adjust this value as needed */
    rotate: 55deg;
    border-style: solid;
    border-width: 20px 20px 10px 0;
    border-color: var(--primary-color) transparent transparent transparent;
}







.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: #B6B6B6;
}

.chat-messages::-webkit-scrollbar-track {
    background-color: var(--background-tile-color);
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.inner-tile::-webkit-scrollbar {
    width: 8px;
}

.inner-tile::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.inner-tile::-webkit-scrollbar-thumb:hover {
    background-color: #B6B6B6;
}

.inner-tile::-webkit-scrollbar-track {
    background-color: var(--background-tile-color);
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    margin-right: 10px;
    resize: horizontal;
    width: calc(100% - 120px);
}

.send-button {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    -webkit-appearance: none;
}

.cookie-button {
    padding: 20px;
    font-size: 1em;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
}

.button-chat {
    padding: 10px 20px;
    background-color: var(--background-tile-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    -webkit-appearance: none;
}

.button-chat:hover {
    background-color: var(--secondary-color);
}

.cookie-decline-button {
    padding: 10px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.login-left {
    margin-right: 10px;
}

.login-right {
    margin-left: 10px;
}

.ai-personality-button {
    padding: 10px 20px;
    color: var(--text-color);
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 300px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    -webkit-appearance: none;
}


.settings-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 300px;
    border: none;
    -webkit-appearance: none;
}

.settings-input {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    resize: horizontal;
    min-width: 100%;
}

.buy-now-button {
    padding: 10px 20px;
    background-color: var(--purple);
    color: var(--white-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 300px;
    -webkit-appearance: none;
}

.delete-account-button {
    padding: 10px 20px;
    background-color: var(--red);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    max-width: 300px;
    -webkit-appearance: none;
}

.signup-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    -webkit-appearance: none;
}


@media (max-width: 768px) {
    /* Adjust chat container width for mobile devices */
    .chat-container {
        width: 90%;
        margin: 0 auto;
    }

    .desktop-only {
        display: none;
    }

    .message {
        font-size: 12k,hpx;
    }

    .chat-messages {
        max-height: 80%;
    }
}

@media (max-width: 1360px) {
    .desktop-music-widget {
        display: none;
    }

    .resize-mobile {
        width: 100%;
    }
}

@media (min-width: 1360px) {
    .desktop-music-widget {
        display: flex;
    }

    .resize-mobile {
        width: 60%;
    }
}

.login-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    resize: horizontal;
    width: 100%;
    margin-top: 20px;
}

.button-blue {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration:none;
    height: 40px;
    -webkit-appearance: none;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sync {
    color: var(--text-color);
}

.sync:hover {
    color: var(--yellow);
}

.white-button-blue-on-hover {
    color: var(--text-color);
    -webkit-appearance: none;
}

.white-button-blue-on-hover:hover {
    color: var(--primary-color);
}

.white-button-purple-on-hover {
    color: var(--text-color);
    -webkit-appearance: none;
}

.white-button-purple-on-hover:hover {
    color: var(--purple);
}

.logout {
    color: var(--text-color);
    -webkit-appearance: none;
}

.logout:hover {
    color: var(--red);
}

.dark-mode-toggle {
    margin-bottom: 20px;
    -webkit-appearance: none;
}

.centered-content {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.cookie-banner {
    position: fixed;
    bottom: 0; /* Adjust the distance from the bottom as desired */
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    z-index: 9999; /* Ensure the banner appears above other elements */
}
  
.cookie-banner p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .phone {
        height: auto;
        width: 50vw;
    }

    .mac {
        height: auto;
        width: 90vw;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media (min-width: 768px) {
    .phone {
        height: 70vh;
        width: auto;
    }

    .mac {
        height: auto;
        width: 40vw;
    }

    .mobile {
        display: none;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;

    background-color: var(--background-tile-color);
    min-width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: var(--text-color);
}

.dropdown-menu a:hover {
    color: var(--primary-color);
}

.show {
    display: block;
}

.align-icons-center {
    vertical-align: middle;
    display: inline-block;
}

.drop-area-style,
.drop-area {
    border: 4px dashed var(--secondary-color);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-area-style p,
.drop-area p {
    margin-top: 10px;
}

.file-list {
    margin-top: 20px;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 10px;
}

.file-list a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--text-color);
}

.text-offcutter {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: var(--text-color);
}

/* Hide the input file element */
#file-input {
    display: none;
}

.file-list::-webkit-scrollbar {
    width: 8px;
}

.file-list::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 4px;
}

.file-list::-webkit-scrollbar-thumb:hover {
    background-color: #B6B6B6;
}

.file-list::-webkit-scrollbar-track {
    background-color: var(--background-color);
    border-radius: 4px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.mock-button-gray {
    padding: 10px 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: text;
    text-decoration: none;
    -webkit-appearance: none;
}

.progress-bar {
    width: 100%;
    height: 37px;
    background-color: var(--background-tile-color);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 5px;
    background-color: var(--primary-color);
}

@media (min-width: 768px) {
    .desktop-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

.no-files {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-link {
    font-size: 0.7em;
    color: var(--text-color);
    text-decoration: none;
}

.footer-link:hover {
    color: var(--primary-color);
}