<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>About Us | GrütteCloud</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
	<link rel="stylesheet" href="https://jan.gruettefien.com/static/stylesheet.css">
    <link rel="icon" href="https://jan.gruettefien.com/static/GrütteCloud.png">
    <script src="https://jan.gruettefien.com/static/switchservice.js"></script>
	<style>
		h2 {
			color: var(--primary-color);
			font-weight: bold;
        }
	</style>
</head>
<body>
	<div class="header">
        <div class="dark-mode-toggle">
            <a href="{{ url_prefix }}/" class="white-button-blue-on-hover" title=""><span class="material-symbols-outlined">arrow_back_ios_new</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>
        </div>
		<div class="centered-content">
            <a href="{{ url_prefix }}/" class="logo" title="Home">
                <img src="https://jan.gruettefien.com/static/GrütteCloud.png" style="width: 40px; height: 40px;" title="GrütteCloud">
            </a>
        </div>
        <div class="dark-mode-toggle" style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <div class="dropdown">
                <button class="white-button-blue-on-hover" onclick="toggleDropdown()" style="background-color: var(--background-color); border: none;">
                    <span class="material-symbols-outlined" title="GrütteCloud">apps</span>
                </button>
                <div class="dropdown-menu">
                    <div class="inner-tile">
                        <h3 style="text-align: center; color: var(--primary-color);">GrütteCloud</h3>
                        <div class="spaced-tile blue-on-hover"></div>
                        <a href="{{ url_prefix }}/settings" title="GrütteID"><span class="material-symbols-outlined align-icons-center">account_circle</span>&nbsp;&nbsp;GrütteID</a>
                        <a href="{{ url_prefix }}/chat" title="GrütteChat"><span class="material-symbols-outlined align-icons-center">forum</span>&nbsp;&nbsp;GrütteChat</a>
                        <a href="{{ url_prefix }}/storage" title="GrütteStorage"><span class="material-symbols-outlined align-icons-center">cloud_upload</span>&nbsp;&nbsp;GrütteStorage</a>
                    </div>
                </div>
            </div>
        </div>
	</div>


	<div class="wrapping-tile" style="font-size: 13px; padding: 20px;">
		<div class="spaced-tile"></div>
        <h1>About Us</h1>
        <h2>Jan Grüttefien</h2>
        <p>Kapellenweg 47a</p>
        <p>70378 Stuttgart</p>
        <p>Germany</p>
        <p><a href="mailto:jan@gruettefien.com" style="color: var(--text-color);">jan@gruettefien.com</a></p><br>
        
        <p>GrütteCloud is a hobby project by Jan Grüttefien. It is a mostly free and open source service. You can check out the source code on <a href="https://github.com/xelemir/GruetteChat" style="color: var(--text-color);">GitHub</a>.</p>
        <div align="center">
            <div class="spaced-tile"></div>
            <a href="{{ url_prefix }}/support" style="text-decoration: none; color: var(--white-color);"><button class="button-blue" style="min-width: 0px;">Send us a message</button></a>
        </div>
	</div>
    <div style="display: flex; justify-content: center; padding: 20px; box-sizing: border-box; margin-top: auto;">
        <div style="display: flex;">
            <div style="width: 50%; margin-right: 20px; text-align: left;">
                <b style="font-size: 0.9em;">GrütteCloud</b>
                <div style="white-space: nowrap; line-height: 1em;">
                    <a class="footer-link" href="{{ url_prefix }}/help">Help Center</a><br>
                    <a class="footer-link" href="{{ url_prefix }}/about">What is GrütteChat?</a><br>
                    <a class="footer-link" href="{{ url_prefix }}/support">Contact support</a>
                </div>
            </div>
            <div style="width: 50%; text-align: left;">
                <b style="font-size: 0.9em;">Legal</b>
                <div style="white-space: nowrap; line-height: 1em;">
                    <a class="footer-link" href="{{ url_prefix }}/aboutus">About Us</a><br>
                    <a class="footer-link" href="{{ url_prefix }}/terms">Terms of Service</a><br>
                    <a class="footer-link" href="{{ url_prefix }}/privacy">Privacy Policy</a>
                </div>
            </div>                
        </div>
    </div>
	<div id="cookie-banner"></div>
</body>
</html>

<script>
    // Dark mode toggle functionality
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;
    var isDarkMode = localStorage.getItem('darkMode');

    if (isDarkMode === 'true') {
            body.classList.add('dark-mode');
            document.documentElement.setAttribute('data-theme', 'dark');
            darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
    }

    darkModeToggle.addEventListener('click', function() {
            if (body.classList.contains('dark-mode')) {
                    body.classList.remove('dark-mode');
                    localStorage.setItem('darkMode', 'false');
                    document.documentElement.setAttribute('data-theme', 'light');
                    darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
            } else {
                    body.classList.add('dark-mode');
                    localStorage.setItem('darkMode', 'true');
                    document.documentElement.setAttribute('data-theme', 'dark');
                    darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
            }
    });

    darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover
</script>

<script src="https://jan.gruettefien.com/static/cookies.js"></script>