<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>MyAI | GrütteChat</title>
    <meta name="google-site-verification" content="gEiw9Swqs11DLP3QTgR8Y6hHGjQnhSWWud7LivLEmHs" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://www.gruettecloud.com/static/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="https://www.gruettecloud.com/static/gruettechat.png">
</head>
<body>
    <div class="header">
        <div class="dark-mode-toggle">
            <a href="{{ url_prefix }}/ai/back" class="white-button-blue-on-hover" title="Back to home"><span class="material-symbols-outlined">arrow_back_ios_new</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>
        </div>
        <div class="centered-content">
            <h1>MyAI</h1>
        </div>
        <div class="dark-mode-toggle" style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <a href="{{ url_prefix }}/ai-preferences" class="white-button-purple-on-hover" title="Change MyAI personality"><span class="material-symbols-outlined">temp_preferences_custom</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_prefix }}/ai/restart" title="Restart MyAI" class="logout"><span class="material-symbols-outlined">delete_forever</span></a>
        </div>
    </div>

    <div class="chat-messages">
        {% for message in chat_history %}
            {% if message.role == 'assistant' %}
                <div class="message left-bubble">
                    {{ message.content }}
                </div>
            {% else %}
                <div class="message right-bubble">
                    {{ message.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <form action="{{ url_prefix }}/ai/chat" method="POST" id="sendMessage">
        <div class="wrapping-tile">
            <input type="text" name="message" placeholder="Type your message..." autocomplete="off" style="width: calc(100% - 120px);">
            <button type="submit" id="submitButton" name="send" class="send-button">Send</button>
        </div>
    </form>
    <div id="cookie-banner"></div>
</body>
</html>

<script>
    // JavaScript code for autoscrolling to the bottom
    window.onload = function() {
        var chatMessages = document.querySelector('.chat-messages');
        chatMessages.scrollTop = chatMessages.scrollHeight;
    };

    // Dark mode toggle functionality
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;
    var isDarkMode = localStorage.getItem('darkMode');

    if (isDarkMode === 'true') {
        body.classList.add('dark-mode');
        document.documentElement.setAttribute('data-theme', 'dark');
        darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
    }

    darkModeToggle.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            body.classList.remove('dark-mode');
            localStorage.setItem('darkMode', 'false');
            document.documentElement.setAttribute('data-theme', 'light');
            darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
        } else {
            body.classList.add('dark-mode');
            localStorage.setItem('darkMode', 'true');
            document.documentElement.setAttribute('data-theme', 'dark');
            darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
        }
    });

    darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover
</script>

<script src="https://www.gruettecloud.com/static/cookies.js"></script>

<script>
    function disableSubmitButton() {
      document.getElementById("submitButton").disabled = true;
      return true; // This allows the form to be submitted after disabling the button
    }
</script>