<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no">
    <title>Apartment | GrütteCloud</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://www.gruettecloud.com/static/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">
    <link rel="icon" href="https://www.gruettecloud.com/static/gruettecloud_logo.png">
    <style>
        @font-face {
            font-family: 'Montserrat VariableFont';
            src: url('https://www.gruettecloud.com/static/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
            font-weight: 700;
            font-display: swap;
        }

        h1 {
            font-family: 'Montserrat VariableFont';
			color: var(--primary-color);
			font-weight: bold;
            font-size: 6vh;
            margin-bottom: 20px;
        }

        p {
            color: var(--text-color);
            font-size: 2vh;
        }

        .box {
            flex: 1;
            text-align: center;
            padding: 20px;
            height: auto;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .apartment-image {
            max-height: 70vh;
        }

        .select-room {
            display: flex;
            justify-content: space-between;
            border-radius: 30px;
            width: 80%;
            border: 3px solid var(--background-tile-color);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .room {
            width: 25%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 30px;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
        }

        .selectFurnitureButton {
            cursor: pointer;
            background-color: var(--purple);
            color: var(--white-color);
            border-radius: 30px;
            padding: 20px;
            text-align: center;
        }

        .desktop-only-flex {
            display: flex;
        }

        .mobile-only-flex {
            display: none;
        }

        td {
            width: 50%;
            text-align: left;
        }

        .scrollable-section {
            overflow-y: auto;
            border-radius: 40px;
            overflow: auto;
            width: 80%;
            height: 90svh;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        /* For WebKit (Chrome and Safari) */
        .scrollable-section::-webkit-scrollbar {
            width: 10px;
        }

        .scrollable-section::-webkit-scrollbar-thumb {
            background: var(--secondary-color);
            border-radius: 30px;
        }

        .scrollable-section::-webkit-scrollbar-thumb:hover {
            background: var(--primary-color); /* Change the thumb color on hover */
        }

        @media screen and (max-width: 1200px) {
            .container {
                flex-direction: column;
                justify-content: center;
                gap: 5svh;
            }

            .box {
                width: 100%;
            }

            .apartment-image {
                max-height: 30svh;
            }

            .select-room {
                width: 100%;
                margin: 0;
                padding: 0;
            }

            .scrollable-section {
                height: 60svh;
                width: 100%;
                margin: 15px;
                margin-bottom: 0;
            }

            .desktop-only-flex {
                display: none;
            }

            .mobile-only-flex {
                display: flex;
            }
        }

        .product-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            cursor: pointer;
            border-radius: 30px;
          }
      
          .product-item.selected {
            background-color: var(--secondary-color);
          }
      
          .product-image {
            max-height: 50px;
            border-radius: 50%;
            max-width: 50px;
            margin-right: 10px;
          }
      
          .product-details {
            display: flex;
            align-items: center;
          }

        .bill-width {
            width: 600px;
            max-width: 90vw;
        }
    </style>
</head>
<body>
    <div id="fullpage">
        <div class="section" data-anchor="section1">
            <div class="header">
                <div style="position: absolute; top: 20px; left: 0; padding-left: 20px">
                    <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>
                </div>
                {% include "components/nav-element.html" %}
            </div>
            <div class="container" >
                <div class="box">
                    <h1>My Apartment</h1><br>
                    <p>Stammheimer Str. 101b, 70435 Stuttgart</p>
                </div>
                <div class="box">
                    <img class="apartment-image" src="https://www.gruettecloud.com/static/apartment/apartment_wanted.png" alt="Apartment">
                </div>
            </div>
        </div>

        <div class="section" data-anchor="section2">
            <div class="container">
                <div class="box" style="display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
                    <div id="scrollable-section" class="scrollable-section">
                        {% for item in items["bedroom"] %}
                            <div style="padding: 10px;">
                                <a href="{{ item["url"] }}" style="text-decoration: none; color: var(--text-color); cursor: pointer;">
                                    <div style="display: flex; align-items: center; width: 100%; background-color: var(--background-tile-color); border-radius: 30px;">
                                        <div style="width: 50%; display: block; justify-content: center; text-align: center; padding: 30px;">
                                            <h2 style="margin-bottom: 20px; color: var(--primary-color);">{{ item["name"] }}</h2>
                                            <p style="margin-bottom: 10px; text-wrap: balance;">{{ item["description"] }}</p>
                                            <p class="price-bedroom">{{ item["price"] }}</p>
                                        </div>
                                        <div style="width: 50%; display: block; justify-content: center; text-align: right; padding: 15px;">
                                            <img src="{{ item["image_src"] }}" alt="{{ item["name"] }}" style="max-height: 200px; border-radius: 30px; max-width: 100%;">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="box" style="text-align: center;">
                    <h1 style="margin-top: -30px;" id="room-title">Bedroom</h1>
                    <div id="room-total" style="margin-bottom: 20px;"></div>
                    <div style="width: 100%; justify-content: center; text-align: center; padding: 0;">
                        <div style="width: 100%; display: flex; justify-content: center; text-align: center; padding: 0; padding-bottom: 20px;">
                            <div class="select-room" style="text-align: center; display: flex; flex-direction: row; align-items: center;">
                                <p id="bedroom" class="room" onclick="bedroom()" style="background-color: var(--primary-color); color: var(--white-color);">Bedroom</p>
                                <p id="livingroom" class="room" onclick="livingroom()" style="background-color: transparent; color: var(--text-color);">Living</p>
                                <p id="sanitary" class="room" onclick="sanitary()" style="background-color: transparent; color: var(--text-color);">Sanitary</p>
                                <p id="other" class="room" onclick="other()" style="background-color: transparent; color: var(--text-color);">Other</p>
                            </div>
                        </div>
                        {% if is_admin %}
                            <p><a href="/add_product" style="color: var(--text-color); cursor: pointer;">Add Item</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="section" data-anchor="section3">

            <div id="ask-for-funding" style="display: block;">
                <!-- Desktop -->
                <div class="container desktop-only-flex">
                    <div class="box">
                        <h1>Matchi & Friends</h1>
                        <div style="width: 100%; display: flex; justify-content: center; text-align: left; padding: 30px;">
                            <p style="width: 80%; text-wrap: balance;">
                                Matchi and his friends are very happy about the selection of furniture in the apartment.
                                They are looking forward to the new apartment and are already planning how they will decorate it.
                                However they need your help to fund the furniture.<br><br>Can you help them?
                            </p>
                        </div>
                        <div style="width: 100%; display: flex; justify-content: center; text-align: center; padding: 30px;">
                            <div class="selectFurnitureButton" onclick="selectFurniture()">
                                <p style="color: var(--white-color);">Help Matchi and his friends!</p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <img class="apartment-image" src="https://www.gruettecloud.com/static/apartment/plushies.jpg" style="border-radius: 30px; margin-bottom: 50px;" alt="Matchi and his Friends">
                    </div>
                </div>

                <!-- Mobile -->
                <div class="container mobile-only-flex">
                    <h1 style="margin-bottom: -10px;">Matchi & Mates</h1>
                    <img class="apartment-image" src="https://www.gruettecloud.com/static/apartment/plushies.jpg" style="border-radius: 30px; margin-bottom: 0px;" alt="Matchi and his Friends">
                    <div style="width: 100%; display: flex; justify-content: center; text-align: left; padding-left: 20px; padding-right: 20px;">
                        <p style="text-wrap: balance;">
                            Matchi and his friends are very happy about the selection of furniture in the apartment.
                            They are looking forward to the new apartment and are already planning how they will decorate it.
                            However they need your help to fund the furniture.<br>Can you help them?
                        </p>
                    </div>
                    <div style="width: 100%; display: flex; justify-content: center; text-align: center;">
                        <div class="selectFurnitureButton" onclick="selectFurniture()">
                            <p style="color: var(--white-color);">Help Matchi and his friends!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="select-items" style="display: none; justify-content: center; align-items: center; margin: 0; padding: 0;">
                    <form class="container" action="/apartment" method="post">
                        <div class="box" style="display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
                            <div class="scrollable-section" style="padding: 5px;">
                                <h2 style="color: var(--primary-color); padding-left: 25px; padding-top: 10px; padding-bottom: 10px; text-align: left;">Bedroom</h2>
                                {% for item in items["bedroom"] %}
                                    <hr style="border: 1px solid var(--box-shadow-color); border-radius: 5px; margin-left: 25px; margin-right: 25px;">
                                    <div class="product-item" onclick="toggleCheckbox(this)">
                                        <input type="checkbox" id="{{ item["name"] }}" name="{{ item["name"] }}" value="{{ item["price"] }}" style="display: none;">
                                        <label for="{{ item["name"] }}" style="width: 100%; display: flex; align-items: center;">
                                            <img src="{{ item["image_src"] }}" alt="{{ item["name"] }}" class="product-image">
                                            <span class="product-details">{{ item["name"] }} | {{ item["description"] }} | {{ item["price"] }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                                <h2 style="color: var(--primary-color); padding-left: 25px; padding-top: 10px; padding-bottom: 10px; text-align: left;">Living</h2>
                                {% for item in items["livingroom"] %}
                                    <hr style="border: 1px solid var(--box-shadow-color); border-radius: 5px; margin-left: 25px; margin-right: 25px;">
                                    <div class="product-item" onclick="toggleCheckbox(this)">
                                        <input type="checkbox" id="{{ item["name"] }}" name="{{ item["name"] }}" value="{{ item["price"] }}" style="display: none;">
                                        <label for="{{ item["name"] }}" style="width: 100%; display: flex; align-items: center;">
                                            <img src="{{ item["image_src"] }}" alt="{{ item["name"] }}" class="product-image">
                                            <span class="product-details">{{ item["name"] }} | {{ item["description"] }} | {{ item["price"] }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                                <h2 style="color: var(--primary-color); padding-left: 25px; padding-top: 10px; padding-bottom: 10px; text-align: left;">Sanitary</h2>
                                {% for item in items["sanitary"] %}
                                    <hr style="border: 1px solid var(--box-shadow-color); border-radius: 5px; margin-left: 25px; margin-right: 25px;">
                                    <div class="product-item" onclick="toggleCheckbox(this)">
                                        <input type="checkbox" id="{{ item["name"] }}" name="{{ item["name"] }}" value="{{ item["price"] }}" style="display: none;">
                                        <label for="{{ item["name"] }}" style="width: 100%; display: flex; align-items: center;">
                                            <img src="{{ item["image_src"] }}" alt="{{ item["name"] }}" class="product-image">
                                            <span class="product-details">{{ item["name"] }} | {{ item["description"] }} | {{ item["price"] }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                                <h2 style="color: var(--primary-color); padding-left: 25px; padding-top: 10px; padding-bottom: 10px; text-align: left;">Other</h2>
                                {% for item in items["other"] %}
                                    <hr style="border: 1px solid var(--box-shadow-color); border-radius: 5px; margin-left: 25px; margin-right: 25px;">
                                    <div class="product-item" onclick="toggleCheckbox(this)">
                                        <input type="checkbox" id="{{ item["name"] }}" name="{{ item["name"] }}" value="{{ item["price"] }}" style="display: none;">
                                        <label for="{{ item["name"] }}" style="width: 100%; display: flex; align-items: center;">
                                            <img src="{{ item["image_src"] }}" alt="{{ item["name"] }}" class="product-image">
                                            <span class="product-details">{{ item["name"] }} | {{ item["description"] }} | {{ item["price"] }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="box" style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                            <h1>Help Matchi</h1>
                            
                            <table class="bill-width" style="text-align: left; margin-left: auto; margin-right: auto;">
                                <tr style="color: var(--primary-color);">
                                    <td style="width: 50%;">Item</td>
                                    <td style="width: 50%;">Price</td>
                                </tr>
                            </table>
                        
                            <hr class="bill-width" style="border: 1px solid var(--box-shadow-color); border-radius: 5px; margin: 10px auto;">
                            
                            <table id="items-selected" class="bill-width" style="text-align: left; margin-left: auto; margin-right: auto; color: var(--text-color);">
                                <tr>
                                    <td style="width: 50%;">Matchi is sad. You didn't select any items.</td>
                                    <td style="width: 50%;"></td>
                                </tr>
                            </table>
                        
                            <hr class="bill-width" style="border: 1px solid var(--box-shadow-color); border-radius: 5px; margin: 10px auto;">

                            <table class="bill-width" style="text-align: left; margin-left: auto; margin-right: auto; color: var(--text-color);">
                                <tr>
                                    <td style="width: 50%;">Total</td>
                                    <td id="total-price" style="width: 50%;">0.00€</td>
                                </tr>
                            </table>
                        
                            <div style="width: 100%; display: flex; justify-content: center; padding: 30px;">
                                <button type="submit" style="margin: 0; width: 300px; text-decoration: none; border-radius: 30px; display: flex; align-items: center; justify-content: center; background-color: var(--background-tile-color); border: solid; border-width: 2px; border-color: var(--box-shadow-color); padding: 10px 20px; color: var(--text-color); cursor: pointer; -webkit-appearance: none;" onclick="toggleChangeProfilePicture()">
                                    <span class="material-symbols-outlined" style="margin-right: 10px;">shopping_bag</span>
                                    Buy Matchi's Furniture
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    var items = {{ items | tojson }};
    var scrollableSection = document.getElementById("scrollable-section");

    var bedroom_selector = document.getElementById("bedroom");
    var livingroom_selector = document.getElementById("livingroom");
    var sanitary_selector = document.getElementById("sanitary");
    var other_selector = document.getElementById("other");

    var priceBedroom = 0;
    var priceLivingroom = 0;
    var priceSanitary = 0;
    var priceOther = 0;

    for (var i = 0; i < {{ items["bedroom"] | length }}; i++) {
        var price = items["bedroom"][i]["price"].replace("€", "");
        priceBedroom += parseInt(price);
    }

    for (var i = 0; i < {{ items["livingroom"] | length }}; i++) {
        var price = items["livingroom"][i]["price"].replace("€", "");
        priceLivingroom += parseInt(price);
    }

    for (var i = 0; i < {{ items["sanitary"] | length }}; i++) {
        var price = items["sanitary"][i]["price"].replace("€", "");
        priceSanitary += parseInt(price);
    }

    for (var i = 0; i < {{ items["other"] | length }}; i++) {
        var price = items["other"][i]["price"].replace("€", "");
        priceOther += parseInt(price);
    }

    document.getElementById("room-total").innerHTML = "<p>Total: " + priceBedroom + "€</p>";


    function bedroom() {
        if (document.getElementById("room-title").innerHTML == "Bedroom") {
            return;
        }

        scrollableSection.innerHTML = "";
        document.getElementById("room-title").innerHTML = "Bedroom";
        document.getElementById("room-total").innerHTML = "<p>Total: " + priceBedroom + "€</p>";
        bedroom_selector.style.backgroundColor = "var(--primary-color)";
        bedroom_selector.style.color = "var(--white-color)";
        livingroom_selector.style.backgroundColor = "transparent";
        livingroom_selector.style.color = "var(--text-color)";
        sanitary_selector.style.backgroundColor = "transparent";
        sanitary_selector.style.color = "var(--text-color)";
        other_selector.style.backgroundColor = "transparent";
        other_selector.style.color = "var(--text-color)";

        for (var i = 0; i < {{ items["bedroom"] | length }}; i++) {
            scrollableSection.innerHTML += "<div style='padding: 10px;'><a href='" + items["bedroom"][i]["url"] + "' style='text-decoration: none; color: var(--text-color); cursor: pointer;'><div style='display: flex; align-items: center; width: 100%; background-color: var(--background-tile-color); border-radius: 30px;'><div style='width: 50%; display: block; justify-content: center; text-align: center; padding: 30px;'><h2 style='margin-bottom: 20px; color: var(--primary-color);'>" + items["bedroom"][i]["name"] + "</h2><p style='margin-bottom: 10px; text-wrap: balance;'>" + items["bedroom"][i]["description"] + "</p><p class='price-bedroom'>" + items["bedroom"][i]["price"] + "</p></div><div style='width: 50%; display: block; justify-content: center; text-align: right; padding: 15px;'><img src='" + items["bedroom"][i]["image_src"] + "' alt='" + items["bedroom"][i]["name"] + "' style='max-height: 200px; border-radius: 30px; max-width: 100%;'></div></div></a></div>";
        }
    }

    function livingroom() {
        if (document.getElementById("room-title").innerHTML == "Living") {
            return;
        }

        scrollableSection.innerHTML = "";
        document.getElementById("room-title").innerHTML = "Living";
        document.getElementById("room-total").innerHTML = "<p>Total: " + priceLivingroom + "€</p>";
        bedroom_selector.style.backgroundColor = "transparent";
        bedroom_selector.style.color = "var(--text-color)";
        livingroom_selector.style.backgroundColor = "var(--primary-color)";
        livingroom_selector.style.color = "var(--white-color)";
        sanitary_selector.style.backgroundColor = "transparent";
        sanitary_selector.style.color = "var(--text-color)";
        other_selector.style.backgroundColor = "transparent";
        other_selector.style.color = "var(--text-color)";

        for (var i = 0; i < {{ items["livingroom"] | length }}; i++) {
            scrollableSection.innerHTML += "<div style='padding: 10px;'><a href='" + items["livingroom"][i]["url"] + "' style='text-decoration: none; color: var(--text-color); cursor: pointer;'><div style='display: flex; align-items: center; width: 100%; background-color: var(--background-tile-color); border-radius: 30px;'><div style='width: 50%; display: block; justify-content: center; text-align: center; padding: 30px;'><h2 style='margin-bottom: 20px; color: var(--primary-color);'>" + items["livingroom"][i]["name"] + "</h2><p style='margin-bottom: 10px; text-wrap: balance;'>" + items["livingroom"][i]["description"] + "</p><p class='price-bedroom'>" + items["livingroom"][i]["price"] + "</p></div><div style='width: 50%; display: block; justify-content: center; text-align: right; padding: 15px;'><img src='" + items["livingroom"][i]["image_src"] + "' alt='" + items["livingroom"][i]["name"] + "' style='max-height: 200px; border-radius: 30px; max-width: 100%;'></div></div></a></div>";
        }
    }

    function sanitary() {
        if (document.getElementById("room-title").innerHTML == "Sanitary") {
            return;
        }

        scrollableSection.innerHTML = "";
        document.getElementById("room-title").innerHTML = "Sanitary";
        document.getElementById("room-total").innerHTML = "<p>Total: " + priceSanitary + "€</p>";
        bedroom_selector.style.backgroundColor = "transparent";
        bedroom_selector.style.color = "var(--text-color)";
        livingroom_selector.style.backgroundColor = "transparent";
        livingroom_selector.style.color = "var(--text-color)";
        sanitary_selector.style.backgroundColor = "var(--primary-color)";
        sanitary_selector.style.color = "var(--white-color)";
        other_selector.style.backgroundColor = "transparent";
        other_selector.style.color = "var(--text-color)";

        for (var i = 0; i < {{ items["sanitary"] | length }}; i++) {
            scrollableSection.innerHTML += "<div style='padding: 10px;'><a href='" + items["sanitary"][i]["url"] + "' style='text-decoration: none; color: var(--text-color); cursor: pointer;'><div style='display: flex; align-items: center; width: 100%; background-color: var(--background-tile-color); border-radius: 30px;'><div style='width: 50%; display: block; justify-content: center; text-align: center; padding: 30px;'><h2 style='margin-bottom: 20px; color: var(--primary-color);'>" + items["sanitary"][i]["name"] + "</h2><p style='margin-bottom: 10px; text-wrap: balance;'>" + items["sanitary"][i]["description"] + "</p><p class='price-bedroom'>" + items["sanitary"][i]["price"] + "</p></div><div style='width: 50%; display: block; justify-content: center; text-align: right; padding: 15px;'><img src='" + items["sanitary"][i]["image_src"] + "' alt='" + items["sanitary"][i]["name"] + "' style='max-height: 200px; border-radius: 30px; max-width: 100%;'></div></div></a></div>";
        }
    }

    function other() {
        if (document.getElementById("room-title").innerHTML == "Other") {
            return;
        }

        scrollableSection.innerHTML = "";
        document.getElementById("room-title").innerHTML = "Other";
        document.getElementById("room-total").innerHTML = "<p>Total: " + priceOther + "€</p>";
        bedroom_selector.style.backgroundColor = "transparent";
        bedroom_selector.style.color = "var(--text-color)";
        livingroom_selector.style.backgroundColor = "transparent";
        livingroom_selector.style.color = "var(--text-color)";
        sanitary_selector.style.backgroundColor = "transparent";
        sanitary_selector.style.color = "var(--text-color)";
        other_selector.style.backgroundColor = "var(--primary-color)";
        other_selector.style.color = "var(--white-color)";

        for (var i = 0; i < {{ items["other"] | length }}; i++) {
            scrollableSection.innerHTML += "<div style='padding: 10px;'><a href='" + items["other"][i]["url"] + "' style='text-decoration: none; color: var(--text-color); cursor: pointer;'><div style='display: flex; align-items: center; width: 100%; background-color: var(--background-tile-color); border-radius: 30px;'><div style='width: 50%; display: block; justify-content: center; text-align: center; padding: 30px;'><h2 style='margin-bottom: 20px; color: var(--primary-color);'>" + items["other"][i]["name"] + "</h2><p style='margin-bottom: 10px; text-wrap: balance;'>" + items["other"][i]["description"] + "</p><p class='price-bedroom'>" + items["other"][i]["price"] + "</p></div><div style='width: 50%; display: block; justify-content: center; text-align: right; padding: 15px;'><img src='" + items["other"][i]["image_src"] + "' alt='" + items["other"][i]["name"] + "' style='max-height: 200px; border-radius: 30px; max-width: 100%;'></div></div></a></div>";
        }
    }

    function selectFurniture() {
        document.getElementById("ask-for-funding").style.display = "none";
        document.getElementById("select-items").style.display = "flex";
    }

    function toggleCheckbox(item) {
        const checkbox = item.querySelector('input[type="checkbox"]');
        checkbox.checked = !checkbox.checked;
  
        if (checkbox.checked) {
            item.classList.add('selected');
        } else {
            item.classList.remove('selected');
        }

        updateTotalPrice();
    }


    // Define a map to store selected items and their prices
    var selectedItemsMap = new Map();

    function updateTotalPrice() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        let totalPrice = 0;

        selectedItemsMap.clear(); // Clear the map

        checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
            const itemName = checkbox.name;
            const itemPrice = parseFloat(checkbox.value);
            totalPrice += itemPrice;
            
            // Store the item and its price in the map
            selectedItemsMap.set(itemName, itemPrice);
            }
    });

    document.getElementById('total-price').textContent = totalPrice.toFixed(2) + "€";
        displaySelectedItems();
    }

    function displaySelectedItems() {
        const itemsSelectedContainer = document.getElementById('items-selected');
        itemsSelectedContainer.innerHTML = ""; // Clear previous content

        selectedItemsMap.forEach((price, itemName) => {
            const row = document.createElement('tr');
            const itemNameCell = document.createElement('td');
            const priceCell = document.createElement('td');

            itemNameCell.textContent = itemName;
            priceCell.textContent = price.toFixed(2) + "€";

            row.appendChild(itemNameCell);
            row.appendChild(priceCell);

            itemsSelectedContainer.appendChild(row);
        });

        if (selectedItemsMap.size == 0) {
            const row = document.createElement('tr');
            const itemNameCell = document.createElement('td');
            const priceCell = document.createElement('td');

            itemNameCell.textContent = "Matchi is sad. You didn't select any items.";
            priceCell.textContent = "";

            row.appendChild(itemNameCell);
            row.appendChild(priceCell);

            itemsSelectedContainer.appendChild(row);
        }
    }


    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>

<script>
    // Initialize fullPage.js
    new fullpage('#fullpage', {
        // Options
        sectionsColor: ['transparent', 'transparent', 'transparent'],
        anchors: ['section1', 'section2', 'section3'],
        autoScrolling: true,
        scrollBar: false,
        normalScrollElements: '.scrollable-section',
        navigation: false,
        navigationPosition: 'right',
        scrollingSpeed: 700,
    });
</script>

<script src="https://www.gruettecloud.com/static/darkmode.js"></script>