<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Help Center | GrütteChat</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
	<link rel="stylesheet" href="https://jan.gruettefien.com/static/stylesheet.css">
    <link rel="stylesheet" href="https://jan.gruettefien.com/static/gruettechat.png">
	<style>
		.centered-div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			padding-top: 20px;
			height: auto;
			max-height: calc(100vh - 120px);
			overflow-y: auto;
		}
		
		h2 {
			color: var(--primary-color);
			font-weight: bold;
		}	
	</style>
</head>
<body>
	<div class="header">
        <div class="dark-mode-toggle">
            <a href="{{ url_suffix }}/" class="white-button-blue-on-hover" title=""><span class="material-symbols-outlined">arrow_back_ios_new</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>
        </div>
		<div class="centered-content">
            <a href="{{ url_suffix }}/" class="logo" title="Home">
                <img src="../static/gruettechat.png" style="width: 40px; height: 40px;" title="GrütteChat">
            </a>
        </div>
	</div>


	<div class="wrapping-tile" style="font-size: 13px;">
		<div class="spaced-tile"></div>
        <h1>Welcome to the Help Center</h1>
			<div align="center">
				<button class="button-blue" style="min-width: 0px;"><a href="{{ url_suffix }}/support" style="text-decoration: none; color: var(--white-color);">Talk to support</a></button>
				<div class="spaced-tile"></div>
			</div>

			<div class="inner-tile">
				<h2 align="center">Impressum</h2><br>
				GrütteChat<br>
				Jan Grüttefien<br>
				Kapellenweg 47a<br>
				70378 Stuttgart<br>
				jan@gruettefien.com<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">What is GrütteChat?</h2><br>
				GrütteChat is a free, open-source, chat application. It is built with Python, Flask, MySQL, and Django.<br>
				Chat messages as well as user information is stored in a MySQL database.<br>
				The message content and the user passwords are encrypted before being stored in the database.<br>
				GrütteChat also has a state of the art chat-bot called MyAI built in.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I use GrütteChat?</h2><br>
				Firstly, you need to create an account. You can do this by clicking on the "Sign Up" button on the landing page.<br>
				You'll then be asked to enter a username, your email address, and a password.<br>
				After that, you'll receive a six digit verification code via email. You'll need to enter this code on the next page.<br>
				Once you've done that, you'll be able to log in and use GrütteChat.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">What is MyAI</h2><br>
				MyAI is a state of the art chat-bot that is built into GrütteChat.<br>
				You can access MyAI by clicking on the "MyAI" button on the home page.<br>
				As a GrütteChat PLUS user, you'll be able to unlock all MyAI personalities.<br>
				Currently, there are 5 additional MyAI personalities available.<br>
				You can change your MyAI personality on the <a href="{{ url_suffix }}/settings" style="color: var(--text-color); display: inline;">settings page</a>
			</div>

			<div class="inner-tile">
				<h2 align="center">What features does GrütteChat offer?</h2><br>
				GrütteChat currently offers the following features:<br>
				• Sending and receiving messages to and from other GrütteChat users<br>
				• Deleting chats<br>
				• Chatting with a state of the art MyAI chat-bot<br>
				• Changing your email and password<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">What is GrütteChat PLUS</h2><br>
				GrütteChat PLUS is a premium version of GrütteChat.<br>
				It offers the following features:<br>
				• Unlock all MyAI personalities<br>
				• 4x longer MyAI conversations<br>
				• Up to 10x longer MyAI replies<br>
				• (Coming soon) Remove ads<br>
				• Access to premium chats<br>
				• Access to all upcoming features<br>
				Additionally, you'll be supporting the developer by purchasing GrütteChat PLUS.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I purchase GrütteChat PLUS?</h2><br>
				You can simply press the Unlock GrütteChat PLUS button on the home page.<br>
				Or simply click <a href="{{ url_suffix }}/premium" style="color: var(--text-color); display: inline;">here</a>
				Unfortunately, you can only purchase GrütteChat PLUS using PayPal at the moment.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">How much is GrütteChat PLUS?</h2><br>
				GrütteChat PLUS costs 2.99€ only.<br>
				You then have access to all GrütteChat PLUS features forever.<br>
				We offer a 14-day money-back guarantee.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">What are premium chats?</h2><br>
				Some users have created premium chats. These chats are only accessible to GrütteChat PLUS users.<br>
				So to chat with these users, you'll need to purchase GrütteChat PLUS.<br>
				But dont worry, you can still chat with all regular users.<br>
				This feature is currently in beta.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">How does tipping work?</h2><br>
				You can tip premium chat users by clicking the icon top left of the chat.<br>
				You can then select an amount between 1€ to 10€.<br>
				The user you tipped will be notified about your tip.<br>
				Unfortunately, tips cannot be refunded.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I create a premium chat?</h2><br>
				You can't. Premium chats are only available to selected users.<br>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I change my password?</h2><br>
				You can change your password by clicking on the "Change Password" button on the <a href="{{ url_suffix }}/settings" style="color: var(--text-color); display: inline;">settings page</a>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I change my email address?</h2><br>
				You can change your email address by clicking on the "Change Email" button on the <a href="{{ url_suffix }}/settings" style="color: var(--text-color); display: inline;">settings page</a>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I delete my account?</h2><br>
				You can delete your account by clicking on the "Delete Account" button on the <a href="{{ url_suffix }}/settings" style="color: var(--text-color); display: inline;">settings page</a>
			</div>

			<div class="inner-tile">
				<h2 align="center">Who is behind GrütteChat?</h2><br>
				GrütteChat is developed by Jan Grüttefien, a Computer Science student from Germany.<br>
				You can learn more about Jan on his <a href="https://github.com/xelemir", style="color: var(--text-color); display: inline-block;">GitHub</a>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I contact the developer?</h2><br>
				You can contact the developer via email at <a href="mailto:jan@gruettefien.com" style="color: var(--text-color); display: inline;">gruttefien@gmail.com</a>
			</div>

			<div class="inner-tile">
				<h2 align="center">How can I contribute to GrütteChat?</h2><br>
				You can contribute to GrütteChat by reporting bugs, suggesting new features, or by contributing code.<br>
				You can also support the developer by purchasing <a href="{{ url_suffix }}/premium" style="color: var(--text-color); display: inline;">GrütteChat PLUS</a> for 2.99€.<br>
			</div>
		</div>
	</div>
	
</body>
</html>

<script>
		// Dark mode toggle functionality
		var darkModeToggle = document.getElementById('darkModeToggle');
		var body = document.body;
		var isDarkMode = localStorage.getItem('darkMode');

		if (isDarkMode === 'true') {
				body.classList.add('dark-mode');
				document.documentElement.setAttribute('data-theme', 'dark');
				darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
		}

		darkModeToggle.addEventListener('click', function() {
				if (body.classList.contains('dark-mode')) {
						body.classList.remove('dark-mode');
						localStorage.setItem('darkMode', 'false');
						document.documentElement.setAttribute('data-theme', 'light');
						darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
				} else {
						body.classList.add('dark-mode');
						localStorage.setItem('darkMode', 'true');
						document.documentElement.setAttribute('data-theme', 'dark');
						darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
				}
		});

		darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover
</script>