<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Home | GrütteChat</title>
    <meta name="google-site-verification" content="gEiw9Swqs11DLP3QTgR8Y6hHGjQnhSWWud7LivLEmHs" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://www.gruettecloud.com/static/stylesheet.css">
    <link rel="icon" href="https://www.gruettecloud.com/static/gruettecloud_logo.png">
    <script src="https://www.gruettecloud.com/static/switchservice.js"></script>
    <style>
        .tile {
            background-color: var(--secondary-color);
            padding: 40px;
            border-radius: 20px;
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
        }

        .tile:hover {
            box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.8);
        }

        a {
            text-decoration: none;
            color: var(--text-color);
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="dark-mode-toggle">
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="dashboard" style="display: none;"><a href="{{ url_prefix }}/dashboard" class="white-button-blue-on-hover" title="Dashboard"><span class="material-symbols-outlined">code</span></a></span>
        </div>
        <div class="centered-content">
            <a href="{{ url_prefix }}/" class="logo" title="Home">
                <img src="https://www.gruettecloud.com/static/gruettecloud_logo.png" style="width: 40px; height: 40px;" title="GrütteCloud">
            </a>
        </div>
        <div class="dark-mode-toggle" style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <div class="dropdown">
                <button class="white-button-blue-on-hover" onclick="toggleDropdown()" style="background-color: var(--background-color); border: none;">
                    <span class="material-symbols-outlined" title="GrütteCloud">apps</span>
                </button>
                <div class="dropdown-menu" style="z-index: 2;">
                    <div class="inner-tile">
                        <h3 style="text-align: center; color: var(--primary-color);">GrütteCloud</h3>
                        <div class="spaced-tile blue-on-hover"></div>
                        <a href="{{ url_prefix }}/settings" title="GrütteID & settings"><span class="material-symbols-outlined align-icons-center">account_circle</span>&nbsp;&nbsp;GrütteID</a>
                        <a href="{{ url_prefix }}/chat" title="GrütteChat"><span class="material-symbols-outlined align-icons-center">forum</span>&nbsp;&nbsp;GrütteChat</a>
                        <a href="{{ url_prefix }}/storage" title="GrütteStorage"><span class="material-symbols-outlined align-icons-center">cloud_upload</span>&nbsp;&nbsp;GrütteStorage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span class="wrapping-tile desktop-only" style="padding: 20px; border-radius: 20px;">
        <h1>Discover GrütteCloud</h1>
        <div style="display: flex; justify-content: center;">
            <a href="{{ url_prefix }}/storage" class="tile" style="display: flex; flex-basis: 33.33%; justify-content: center; margin-right: 10px;">
                <div style="width: 100%; text-align: center;">
                    <img src="https://www.gruettecloud.com/static/GrütteStorage.png" style="width: 100px; height: 100px;" title="GrütteStorage">
                    <h2 style="color: var(--primary-color); margin: 20px;">GrütteStorage</h2>
                    A cloud-based storage solution for all your files.
                    Share files your files via links.
                    You can even download videos from YouTube directly.
                </div>
            </a>
            <a href="{{ url_prefix }}/chat" class="tile" style="display: flex; flex-basis: 33.33%; justify-content: center; margin-right: 10px; margin-left: 10px;">
                <div style="width: 100%; text-align: center;">
                    <img src="https://www.gruettecloud.com/static/GrütteChat.png" style="width: 100px; height: 100px;" title="GrütteChat">
                    <h2 style="color: var(--primary-color); margin: 20px;">GrütteChat</h2>
                    A chat application for all your needs.
                    Chat with your friends and family in realtime.
                    If no one is online, you can even chat with a customizable MyAI chat bot.
                </div>
            </a>
            <a href="{{ url_prefix }}/settings" class="tile" style="display: flex; flex-basis: 33.33%; justify-content: center; margin-left: 10px;">
                <div style="width: 100%; text-align: center;">
                    <img src="https://www.gruettecloud.com/static/GrütteID.png" style="width: 100px; height: 100px;" title="GrütteID">
                    <h2 style="color: var(--primary-color); margin: 20px;">GrütteID</h2>
                    A single sign-in solution for all GrütteCloud services.
                    Manage your account and settings.
                    You can even enable two-factor authentication for your account.
                </div>
            </a>
        </div>
        {% if is_admin %}
            <div class="spaced-tile"></div>
            <a href="{{ url_prefix }}/dashboard" class="tile" style="display: flex; justify-content: center; padding: 20px;">
                <div style="width: 100%; text-align: center;">
                    <!--<img src="https://www.gruettecloud.com/static/gruettecloud_logo.png" style="width: 100px; height: 100px;" title="GrütteID">-->
                    <h2 style="color: var(--primary-color); margin: 20px;">
                        <img src="https://www.gruettecloud.com/static/gruettecloud_logo.png" style="width: 2.5em; height: auto; vertical-align: middle;" title="GrütteCloud">
                        <span style="vertical-align: middle;">Dashboard</span>
                    </h2>
                    See log files, manage users, send promotion emails and create platform-wide notifications.
                </div>
            </a>
        {% endif %}
        {% if not has_premium %}
            <div class="spaced-tile"></div>
            <div id="premium-banner" style="display: block; justify-content: center;">
                <a href="{{ url_prefix }}/premium" style="text-decoration: none; color: var(--white-color); width: 100px;">
                    <div class="tile wrapping-tile" style="text-align: center; background-color: var(--purple); padding: 20px; border-radius: 20px;">
                        <h1>Unlock GrütteCloud PLUS</h1>
                        <!--for only 2.99 € once!-->
                        It's free!
                    </div>
                </a>
                
            </div>
        {% endif %}
    </span>

    <span class="wrapping-tile mobile-only" style="padding: 20px; border-radius: 20px;">
        <h1>Discover GrütteCloud</h1>
        <div style="display: block; justify-content: center;">
            {% if is_admin %}
                <a href="{{ url_prefix }}/dashboard" class="tile" style="display: flex; justify-content: center; padding: 20px;">
                    <div style="width: 100%; text-align: center;">
                        <!--<img src="https://www.gruettecloud.com/static/gruettecloud_logo.png" style="width: 100px; height: 100px;" title="GrütteID">-->
                        <h2 style="color: var(--primary-color); margin: 20px;">
                            <img src="https://www.gruettecloud.com/static/gruettecloud_logo.png" style="width: 2.5em; height: auto; vertical-align: middle;" title="GrütteCloud">
                            <span style="vertical-align: middle;">Dashboard</span>
                        </h2>
                    </div>
                </a>
                <div class="spaced-tile"></div>
            {% endif %}
            <a href="{{ url_prefix }}/chat" class="tile" style="display: flex; justify-content: center; padding: 20px;">
                <div style="width: 100%; text-align: center;">
                    <img src="https://www.gruettecloud.com/static/GrütteChat.png" style="width: 100px; height: 100px;" title="GrütteChat">
                </div>
            </a>
            <div class="spaced-tile"></div>
            <a href="{{ url_prefix }}/storage" class="tile" style="display: flex; justify-content: center; padding: 20px;">
                <div style="width: 100%; text-align: center;">
                    <img src="https://www.gruettecloud.com/static/GrütteStorage.png" style="width: 100px; height: 100px;" title="GrütteStorage">
                </div>
            </a>
            <div class="spaced-tile"></div>
            <a href="{{ url_prefix }}/settings" class="tile" style="display: flex; justify-content: center; padding: 20px;">
                <div style="width: 100%; text-align: center;">
                    <img src="https://www.gruettecloud.com/static/GrütteID.png" style="width: 100px; height: 100px;" title="GrütteID">
                </div>
            </a>
        </div>
        {% if not has_premium %}
        <div class="spaced-tile"></div>
        <div id="premium-banner" style="display: block; justify-content: center;">
            <a href="{{ url_prefix }}/premium" style="text-decoration: none; color: var(--white-color); width: 100px;">
                <div class="tile wrapping-tile" style="text-align: center; background-color: var(--purple); padding: 20px; border-radius: 20px;">
                    <h1>Unlock GrütteCloud PLUS</h1>
                    <!--for only 2.99 € once!-->
                    It's free!
                </div>
            </a>
            
        </div>
    {% endif %}
    </span>


    {% if status_message %}
        <div class="spaced-tile"></div>
        <div class="wrapping-tile" style="text-align: center; padding: 20px; border-radius: 20px;">
            <h2 style="color: var(--{{ status_message["color"] }})">{{ status_message["subject"] }}</h2>
            <p style="color: var(--{{ status_message["color"] }})">{{ status_message["content"] }}</p>
        </div>
    {% endif %}
    
            
    <div id="cookie-banner"></div>
    <div style="display: flex; justify-content: center; padding: 20px; box-sizing: border-box; margin-top: auto;">
        <div style="display: flex;">
            <div style="width: 50%; margin-right: 20px; text-align: left;">
                <b style="font-size: 0.9em;">GrütteCloud</b>
                <div style="white-space: nowrap; line-height: 1em;">
                    <a class="footer-link" href="{{ url_prefix }}/help">Help Center</a><br>
                    <a class="footer-link" href="/discover">What is GrütteCloud?</a><br>
                    <a class="footer-link" href="{{ url_prefix }}/support">Contact Support</a>
                </div>
            </div>
            <div style="width: 50%; text-align: left;">
                <b style="font-size: 0.9em;">Legal</b>
                <div style="white-space: nowrap; line-height: 1em;">
                    <a class="footer-link" href="{{ url_prefix }}/about">Über Uns</a><br>
                    <a class="footer-link" href="{{ url_prefix }}/terms">Terms of Service</a><br>
                    <a class="footer-link" href="{{ url_prefix }}/privacy">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    // Dark mode toggle functionality
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;
    var isDarkMode = localStorage.getItem('darkMode');

    if (isDarkMode === 'true') {
        body.classList.add('dark-mode');
        document.documentElement.setAttribute('data-theme', 'dark');
        darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
    }

    darkModeToggle.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            body.classList.remove('dark-mode');
            localStorage.setItem('darkMode', 'false');
            document.documentElement.setAttribute('data-theme', 'light');
            darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
        } else {
            body.classList.add('dark-mode');
            localStorage.setItem('darkMode', 'true');
            document.documentElement.setAttribute('data-theme', 'dark');
            darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
        }
    });

    darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover

    {% if not has_premium %}
    // GrütteCloud PLUS banner functionality
    document.addEventListener('DOMContentLoaded', function () {
        const banner = document.getElementById('premium-banner');
        const dismissButton = document.getElementById('dismiss-button');

        // Check if the cookie 'premiumBannerDismissed' exists
        const cookieExists = document.cookie.indexOf('premiumBannerDismissed=true') !== -1;

        if (cookieExists) {
            banner.style.display = 'none';
        } else {
            banner.style.display = 'block';
        }

        // Set the cookie and hide the banner when the 'Dismiss' button is clicked
        dismissButton.addEventListener('click', function () {
            // Set the cookie to expire in 7 days
            const expirationDate = new Date();
            expirationDate.setDate(expirationDate.getDate() + 7);
            document.cookie = 'premiumBannerDismissed=true; expires=' + expirationDate.toUTCString();

            // Hide the banner
            banner.style.display = 'none';
        });
    });
    {% endif %}
</script>

<script>
    // Check the cookie value
    function getCookieValue(cookieName) {
        var name = cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieArray = decodedCookie.split(';');
        for (var i = 0; i < cookieArray.length; i++) {
        var cookie = cookieArray[i];
        while (cookie.charAt(0) === ' ') {
            cookie = cookie.substring(1);
        }
        if (cookie.indexOf(name) === 0) {
            return cookie.substring(name.length, cookie.length);
        }
        }
        return "";
    }
    
    // Check the cookie value and show/hide the HTML tag
    {% if verified %}
        document.getElementById("dashboard").style.display = "inline";
    {% endif %}
</script>

<script src="https://www.gruettecloud.com/static/cookies.js"></script>