<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Home | GrütteChat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://jan.gruettefien.com/static/stylesheet.css">
    <link rel="icon" href="https://jan.gruettefien.com/static/gruettechat.png">
</head>
<body>
    <div class="header">
        <div class="dark-mode-toggle">
            <a href="{{ url_prefix }}/" class="sync" title="Refresh"><span class="material-symbols-outlined">cloud_sync</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="dashboard" style="display: none;"><a href="{{ url_prefix }}/dashboard" class="white-button-blue-on-hover" title="Dashboard"><span class="material-symbols-outlined">code</span></a>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>
        </div>
        <div class="centered-content">
            <a href="{{ url_prefix }}/" class="logo" title="Home">
                <img src="https://jan.gruettefien.com/static/gruettechat.png" style="width: 40px; height: 40px;" title="GrütteChat">
            </a>
        </div>
        <div class="dark-mode-toggle" style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <a href="{{ url_prefix }}/storage" class="white-button-blue-on-hover" title="GrütteStorage"><span class="material-symbols-outlined">cloud_upload</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_prefix }}/settings" class="white-button-blue-on-hover" title="Settings"><span class="material-symbols-outlined">settings</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_prefix }}/logout" class="logout" title="Logout"><span class="material-symbols-outlined">logout</span></a>

        </div>
    </div>

    {% if status_message %}
        <div class="wrapping-tile" style="text-align: center;">
            <div class="inner-tile">
                    <h2 style="color: var(--{{ status_message["color"] }})">{{ status_message["subject"] }}</h2>
                    <p style="color: var(--{{ status_message["color"] }})">{{ status_message["content"] }}</p><br>
                    <p style="color: var(--{{ status_message["color"] }})">[Last updated: {{ status_message["created_at"] }}]</p>
            </div>
        </div>
        <div class="spaced-tile"></div>
    {% endif %}

    {% if not has_premium %}
        <div class="wrapping-tile" style="text-align: center;">
            <a href="{{ url_prefix }}/premium" style="text-decoration: none; color: var(--white-color);">
                <div class="premium-tile">
                    <h1>Unlock GrütteChat PLUS</h1>
                    for only 2.99€ once! 
                </div>
            </a>
        </div>
        <div class="spaced-tile"></div>
    {% endif %}

    {% if has_premium %}
        <div class="wrapping-tile" style="text-align: center;">
            <a href="{{ url_prefix }}/storage" style="text-decoration: none; color: var(--purple);">
                <div class="inner-tile">
                    <h1>GrütteStorage</h1>
                    A secure cloud storage service - by GrütteChat
                </div>
            </a>
        </div>
        <div class="spaced-tile"></div>
    {% endif %}


    <div class="wrapping-tile">
        <form method="POST">
            <input type="text" id="recipient" name="recipient" placeholder="Start a new chat" autocomplete="off" style="width: calc(100% - 120px);">
            <input type="submit" name="new" value="Start Chat" class="send-button">
        </form>
    </div>

    {% if error %}
        <div id="error-message" style="display: none;">
            <div class="spaced-tile"></div>
            <div class="wrapping-tile" style="text-align: center;">
                <div class="inner-tile">
                    <div class="spaced-tile"></div>
                        <h2 style="color: var(--yellow)">{{ error }}</h2>
                    <div class="spaced-tile"></div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="spaced-tile"></div>
    <div style="flex-direction: row; display: flex; width: 100%;">
        <div class="wrapping-tile">
            <h1 style="margin:10px; text-align: center">Welcome, {{ username }}</h1>
            <div class="spaced-tile"></div>
            <div class="inner-tile">
                <div>
                    <button class="button-gray" style="width: calc(100% - 80px); text-align: left;"><a href="{{ url_prefix }}/ai/chat" style="color: var(--text-color); font-size: 18px; text-decoration: none;">MyAI</a></button>
                </div>
                {% for chat in active_chats %}
                        <div>
                            <button class="button-gray" style="width: calc(100% - 80px); text-align: left;"><a href="{{ url_prefix }}/chat/{{ chat }}" style="color: var(--text-color); font-size: 18px; text-decoration: none;">{{ chat }}</a></button>
                            <button class="button-delete" style="height: 42px; width: 60px; padding-right: 40px;"><a href="{{ url_prefix }}/chat/delete/{{ chat }}" style="color: var(--text-color);"><span class="material-symbols-outlined">delete</span></a></button>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="spaced-tile"></div>
    <div id="cookie-banner"></div>
    <div style="text-align: center; padding: 20px; box-sizing: border-box; margin-top: auto;">
        <a href="{{ url_prefix }}/about" style="text-decoration: none; color: var(--text-color)">
            About Us
        </a>
        &nbsp;|&nbsp;
        <a href="{{ url_prefix }}/help" style="text-decoration: none; color: var(--text-color)">
            Help Center
        </a>
        &nbsp;|&nbsp;
        <a href="{{ url_prefix }}/privacy" style="text-decoration: none; color: var(--text-color)">
            Privacy Policy
        </a>
    </div>
</body>
</html>

<script>
    // Dark mode toggle functionality
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;
    var isDarkMode = localStorage.getItem('darkMode');

    if (isDarkMode === 'true') {
        body.classList.add('dark-mode');
        document.documentElement.setAttribute('data-theme', 'dark');
        darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
    }

    darkModeToggle.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            body.classList.remove('dark-mode');
            localStorage.setItem('darkMode', 'false');
            document.documentElement.setAttribute('data-theme', 'light');
            darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
        } else {
            body.classList.add('dark-mode');
            localStorage.setItem('darkMode', 'true');
            document.documentElement.setAttribute('data-theme', 'dark');
            darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
        }
    });

    darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover
</script>

<script>
    // Show error message and fade out after 5 seconds
    var errorMessage = document.getElementById('error-message');
    {% if error %}
        errorMessage.style.display = 'block';
        setTimeout(function() {
            errorMessage.style.opacity = '0';
            setTimeout(function() {
                errorMessage.style.display = 'none';
                errorMessage.style.opacity = '1';
            }, 500);
        }, 5000);
    {% endif %}

    // Check the cookie value
    function getCookieValue(cookieName) {
        var name = cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieArray = decodedCookie.split(';');
        for (var i = 0; i < cookieArray.length; i++) {
        var cookie = cookieArray[i];
        while (cookie.charAt(0) === ' ') {
            cookie = cookie.substring(1);
        }
        if (cookie.indexOf(name) === 0) {
            return cookie.substring(name.length, cookie.length);
        }
        }
        return "";
    }
    
    // Check the cookie value and show/hide the HTML tag
    var cookieValue = getCookieValue("username");
    if (cookieValue === "jan") {
        document.getElementById("dashboard").style.display = "inline";
    } else {
        document.getElementById("dashboard").style.display = "none";
    }
    
</script>

<script src="https://jan.gruettefien.com/static/cookies.js"></script>