<!DOCTYPE html>
<html>
<head>
    <title>Simple Reaction Test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <style>
        body {
            font-family: 'Nunito', sans-serif;
            color: #2c2c2e;
            background-color: #f0f0f0;
        }

        h1 {
            font-family: 'Montserrat', sans-serif;
            color: #007aff;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #stimulus {
            height: 120px;
            width: 120px;
            background-color: transparent;
        }

        p {
            margin: 7px 0;
        }

        .logs {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 10px;
            height: 18px;
        }
    </style>
</head>
<body>
    <div style="height: 180px; display: flex; flex-direction: row; gap: 10px;">
        <div style="display: flex; text-align: center; flex-direction: column; width: 30%; background-color: #d1d1d6; padding: 10px; border-radius: 20px;">
            <h1 id="title">B.1 Simple Test</h1>
            <p id="instruction">Press SPACE to start!</p>
        </div>
        <div style="display: flex; flex-direction: column; width: 70%; background-color: #d1d1d6; padding: 20px; border-radius: 20px; justify-content: space-between;">
            <p style="margin: 0; font-size: 18px;">Results</p>
            <div class="logs"><span class="material-symbols-outlined">speed</span><p id="time">Reaction time: -</p></div>
            <div class="logs"><span class="material-symbols-outlined">event_repeat</span><p id="count">Count: 0</p></div>
            <div class="logs"><span class="material-symbols-outlined">avg_time</span><p id="mean">Mean: -</p></div>
            <div class="logs"><span class="material-symbols-outlined">bar_chart</span><p id="sd">SD: -</p></div>
            <div class="logs"><span class="material-symbols-outlined">warning</span><p id="error">Errors: 0</p></div>
        </div>
    </div>

    <div id="stimulus-container" style="margin-top: 10px; height: calc(100svh - 210px); background-color: #d1d1d6; border-radius: 20px;">
        <div id="stimulus" style="position: relative;"></div>
    </div>
    

    <script>
        let totalRounds = 0;
        let all_results = [];

        let experimentActive = false;
        let stimulusIsVisible = false;
        let stimulusTimestamp;
        let testStimulusTimeout;
        let times = [];
        let errorCount = 0;

        let timeElement = document.getElementById('time');
        let countElement = document.getElementById('count');
        let meanElement = document.getElementById('mean');
        let stdDevElement = document.getElementById('sd');
        let errorElement = document.getElementById('error');
        let instructionElement = document.getElementById('instruction');
        let stimulusElement = document.getElementById('stimulus');

        function getMean(data) {
            let sum = data.reduce((acc, val) => acc + val, 0);
            return sum / data.length;
        }

        function getStandardDeviation(data) {
            let mean = getMean(data);
            let squareSum = data.reduce((acc, val) => acc + Math.pow(val - mean, 2), 0);
            return Math.sqrt(squareSum / data.length);
        }

        function clearResults() {
            timeElement.textContent = 'Reaction time: -';
            countElement.textContent = 'Count: 0';
            meanElement.textContent = 'Mean: -';
            stdDevElement.textContent = 'SD: -';
            errorElement.textContent = 'Errors: 0';
        }

        function showResults() {
            let meanDeltaTime = getMean(times);
            let stdDev = getStandardDeviation(times);

            countElement.textContent = 'Count: ' + times.length;
            meanElement.textContent = 'Mean: ' + Math.round(meanDeltaTime) + ' ms';
            stdDevElement.textContent = 'SD: ' + Math.round(stdDev) + ' ms';
            errorElement.textContent = 'Errors: ' + errorCount;

            all_results.push({
                count: times.length,
                mean: meanDeltaTime,
                sd: stdDev,
                errors: errorCount
            });
        }

        function setStimulusColor(newColor) {
            stimulusElement.style.backgroundColor = newColor;
        }

        function setStimulusFade(state) {
            if (state) {
                stimulusElement.style.transition = 'background-color 4s ease-in-out';
            } else {
                stimulusElement.style.transition = 'none';
            }
        }

        function startTestTrial() {
            setStimulusFade(false);
            setStimulusColor('transparent');
            stimulusIsVisible = false;

            let timeToWaitInSeconds = Math.random() * 4 + 2; // 2 - 6s
            testStimulusTimeout = setTimeout(showStimulus, timeToWaitInSeconds * 1000);
        }

        function getRandomPosition() {
            let parentWidth = document.getElementById('stimulus-container').offsetWidth;
            let parentHeight = document.getElementById('stimulus-container').offsetHeight;
        
            let stimulusWidth = stimulusElement.offsetWidth;
            let stimulusHeight = stimulusElement.offsetHeight;
        
            let maxX = parentWidth - stimulusWidth;
            let maxY = parentHeight - stimulusHeight;
        
            let randomX = Math.floor(Math.random() * maxX);
            let randomY = Math.floor(Math.random() * maxY);
        
            stimulusElement.style.left = randomX + 'px';
            stimulusElement.style.top = randomY + 'px';
        }

        function showStimulus() {
            var availableColors = ['red', 'green', 'blue', 'yellow', 'purple', 'orange', 'pink', 'brown'];
            setStimulusFade(true);
            setStimulusColor(availableColors[Math.floor(Math.random() * availableColors.length)]);
            stimulusIsVisible = true;
            stimulusTimestamp = Date.now();

            getRandomPosition();
        }

        function recordStimulusReactionTime() {
            let deltaTime = Date.now() - stimulusTimestamp;
            times.push(deltaTime);
            timeElement.textContent = 'Reaction time: ' + deltaTime + ' ms';
            countElement.textContent = 'Count: ' + times.length;
        }

        function startExperiment() {
            clearResults();
            instructionElement.textContent = "Press SPACE when the color changes!";

            times = [];
            errorCount = 0;
            experimentActive = true;
            startTestTrial();
        }

        function stopExperiment() {
            clearTimeout(testStimulusTimeout);
            setStimulusFade(false);
            stimulusIsVisible = false;
            experimentActive = false;
            totalRounds++;

            if (totalRounds < 10) {
                instructionElement.textContent = 'Press SPACE to start!';
                showResults();
            } else {
                showResults();
                instructionElement.textContent = 'Experiment finished! Saving results...';
                test_id = localStorage.getItem('mci_test_id');
                if (test_id === undefined) window.location.href = '/mci';
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/mci/save-test-results", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify({
                    testNumber: 1,
                    testId: test_id,
                    results: all_results
                }));

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        instructionElement.textContent = 'Results saved! Press ANY KEY to end the test.';
                        localStorage.setItem('mci_test_completed', 1);
                    }
                }
            }
        }

        window.addEventListener('keydown', (event) => {
            if (instructionElement.textContent === 'Experiment finished! Saving results...') {
                return;
            } else if (instructionElement.textContent === 'Results saved! Press ANY KEY to end the test.') {
                window.location.href = '/mci';
            }

            if (event.key === ' ') {
                if (!experimentActive) {
                    startExperiment();
                    return;
                }

                if (stimulusIsVisible) {
                    recordStimulusReactionTime();
                    if (times.length >= 30) {
                        stopExperiment();
                    } else {
                        startTestTrial();
                    }
                } else {
                    // Early key pressed without stimulus
                    errorCount++;
                    errorElement.textContent = 'Errors: ' + errorCount;
                    // cancel timeout
                    clearTimeout(testStimulusTimeout);
                    startTestTrial();
                }

            }
        });
    </script>
</body>
</html>