<!DOCTYPE html>
<html>
<head>
    <title>Complex Reaction Test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <style>
        body {
            font-family: 'Nunito', sans-serif;
            color: #2c2c2e;
            background-color: #f0f0f0;
        }

        h1 {
            font-family: 'Montserrat', sans-serif;
            color: #007aff;
            margin-top: 10px;
        }

        p {
            margin: 7px 0;
        }

        .logs {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 10px;
            height: 18px;
        }
    </style>
</head>
<body>
    <div style="height: 180px; display: flex; flex-direction: row; gap: 10px;">
        <div style="display: flex; text-align: center; flex-direction: column; width: 30%; background-color: #d1d1d6; padding: 10px; border-radius: 20px;">
            <h1 id="title">B.3 Food Test</h1>
            <p id="instruction">Press space to start!</p>
        </div>
        <div style="display: flex; flex-direction: row; width: 70%; background-color: #d1d1d6; padding: 10px; border-radius: 20px; gap: 10px;">
            <div style="display: flex; flex-direction: column; justify-content: space-between; width: 33.33%; background-color: #aeaeb2; padding: 10px; border-radius: 15px;">
                <p style="margin: 0; font-size: 20px; display: inline-flex; align-items: center; vertical-align: middle;"><img src="https://www.gruettecloud.com/static/icons/de.png" style="width: 20px; height: 20px; margin-right: 10px;">Results Germany</p>
                <div class="logs"><span class="material-symbols-outlined">speed</span><p id="time-de">Reaction time: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">event_repeat</span><p id="count-de">Count: 0</p></div>
                <div class="logs"><span class="material-symbols-outlined">avg_time</span><p id="mean-de">Mean: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">bar_chart</span><p id="sd-de">SD: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">warning</span><p id="error-de">Errors: 0</p></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-between; width: 33.33%; background-color: #aeaeb2; padding: 10px; border-radius: 15px;">
                <p style="margin: 0; font-size: 20px; display: inline-flex; align-items: center; vertical-align: middle;"><img src="https://www.gruettecloud.com/static/icons/cn.png" style="width: 20px; height: 20px; margin-right: 10px;">Results China</p>
                <div class="logs"><span class="material-symbols-outlined">speed</span><p id="time-cn">Reaction time: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">event_repeat</span><p id="count-cn">Count: 0</p></div>
                <div class="logs"><span class="material-symbols-outlined">avg_time</span><p id="mean-cn">Mean: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">bar_chart</span><p id="sd-cn">SD: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">warning</span><p id="error-cn">Errors: 0</p></div>
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-between; width: 33.33%; background-color: #aeaeb2; padding: 10px; border-radius: 15px;">
                <p style="margin: 0; font-size: 20px; display: inline-flex; align-items: center; vertical-align: middle;"><img src="https://www.gruettecloud.com/static/icons/mx.png" style="width: 20px; height: 20px; margin-right: 10px;">Results Mexico</p>
                <div class="logs"><span class="material-symbols-outlined">speed</span><p id="time-mx">Reaction time: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">event_repeat</span><p id="count-mx">Count: 0</p></div>
                <div class="logs"><span class="material-symbols-outlined">avg_time</span><p id="mean-mx">Mean: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">bar_chart</span><p id="sd-mx">SD: -</p></div>
                <div class="logs"><span class="material-symbols-outlined">warning</span><p id="error-mx">Errors: 0</p></div>
            </div>
        </div>
    </div>

    <div id="stimulus-container" style="margin-top: 10px; height: calc(100svh - 210px); background-color: #d1d1d6; border-radius: 20px; justify-content: center; align-items: center; display: flex;">
        <img id="stimulus" style="max-height: calc(80svh - 210px); max-width: 80vw;">
    </div>
    

    <script>
        let totalRounds = 0;
        let all_results = [];

        let experimentActive = false;
        let stimulusIsVisible = false;
        let stimulusTimestamp;
        let testStimulusTimeout;
        let timesDe = [];
        let timesCn = [];
        let timesMx = 0;
        let errorCountDe = 0;
        let errorCountCn = 0;
        let errorCountMx = 0;

        let images = [
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/BrezelnSalz02_%28cropped%29.JPG/2560px-BrezelnSalz02_%28cropped%29.JPG'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/e/e2/2015_0718_K%C3%A4sesp%C3%A4tzle_S%C3%B6lden.jpg'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Breitenlesau_Krug_Br%C3%A4u_Schnitzel.JPG/2880px-Breitenlesau_Krug_Br%C3%A4u_Schnitzel.JPG'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Fischbroetchen_Luebeck_04_2008_001.jpg/2880px-Fischbroetchen_Luebeck_04_2008_001.jpg'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/e/e6/Bratkartoffeln-mit-Speck.jpg'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/3/30/Rinderbraten.jpg'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/4/4c/Butterkeks.jpg'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/4/43/Belegte_Brote.jpg'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/5/52/Schlachteplatte-cropped.jpg'},
            {'country': 'de', 'url': 'https://upload.wikimedia.org/wikipedia/commons/4/45/GT_Brathering_3.jpg'},

            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/b/b4/Braised_fish_head_casserole.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Dim_sum.jpg/2880px-Dim_sum.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/2/2f/%E5%BC%80%E5%B0%81%E7%AC%AC%E4%B8%80%E6%A5%BC%E5%B0%8F%E7%AC%BC%E5%8C%85.JPG'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/%E9%B8%A1%E8%9B%8B%E7%98%A6%E8%82%89%E7%9F%B3%E7%A3%A8%E8%82%A0%E7%B2%89.jpg/2560px-%E9%B8%A1%E8%9B%8B%E7%98%A6%E8%82%89%E7%9F%B3%E7%A3%A8%E8%82%A0%E7%B2%89.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/3/3f/Dry_pot_chicken.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/f/f2/%E6%AB%BB%E8%8A%B1%E8%9D%A6%E6%B2%B9%E9%A3%AF_%289654708834%29.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/Hot_and_sour_noodles_with_pork_intestines.jpg/2560px-Hot_and_sour_noodles_with_pork_intestines.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Hot_Pot.jpg/1280px-Hot_Pot.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Rongchen_Hotpot_Ella_Xu.jpg/2560px-Rongchen_Hotpot_Ella_Xu.jpg'},
            {'country': 'cn', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Kung-pao-shanghai.jpg/2560px-Kung-pao-shanghai.jpg'},

            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/8/8b/Flautas_guacamole_tortillas.jpg'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/3/32/Ela_huevos_rancheros.jpg'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/30/Guacomole.jpg/2560px-Guacomole.jpg'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Tequilas.JPG/1920px-Tequilas.JPG'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Carnitas.jpg/1920px-Carnitas.jpg'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Barbacoa_%28en_Hidalgo%29.JPG/2560px-Barbacoa_%28en_Hidalgo%29.JPG'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Baked_beans_in_tomato_sauce.jpg/1280px-Baked_beans_in_tomato_sauce.jpg'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/6/60/Burrito.JPG'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/5/50/Bowl_of_chili.jpg'},
            {'country': 'mx', 'url': 'https://upload.wikimedia.org/wikipedia/commons/f/fb/Gringas_-_Tamaulipas%2C_Mexico.jpg'},
        ];

        let copy_images = [];


        let timeElementDe = document.getElementById('time-de');
        let countElementDe = document.getElementById('count-de');
        let meanElementDe = document.getElementById('mean-de');
        let stdDevElementDe = document.getElementById('sd-de');
        let errorElementDe = document.getElementById('error-de');

        let timeElementCn = document.getElementById('time-cn');
        let countElementCn = document.getElementById('count-cn');
        let meanElementCn = document.getElementById('mean-cn');
        let stdDevElementCn = document.getElementById('sd-cn');
        let errorElementCn = document.getElementById('error-cn');

        let timeElementMx = document.getElementById('time-mx');
        let countElementMx = document.getElementById('count-mx');
        let meanElementMx = document.getElementById('mean-mx');
        let stdDevElementMx = document.getElementById('sd-mx');
        let errorElementMx = document.getElementById('error-mx');

        let instructionElement = document.getElementById('instruction');
        let stimulusElement = document.getElementById('stimulus');

        function getMean(data) {
            let sum = data.reduce((acc, val) => acc + val, 0);
            return sum / data.length;
        }

        function getStandardDeviation(data) {
            let mean = getMean(data);
            let squareSum = data.reduce((acc, val) => acc + Math.pow(val - mean, 2), 0);
            return Math.sqrt(squareSum / data.length);
        }

        function clearResults() {
            timeElementDe.textContent = 'Reaction time: -';
            countElementDe.textContent = 'Count: 0';
            meanElementDe.textContent = 'Mean: -';
            stdDevElementDe.textContent = 'SD: -';
            errorElementDe.textContent = 'Errors: 0';

            timeElementCn.textContent = 'Reaction time: -';
            countElementCn.textContent = 'Count: 0';
            meanElementCn.textContent = 'Mean: -';
            stdDevElementCn.textContent = 'SD: -';
            errorElementCn.textContent = 'Errors: 0';

            timeElementMx.textContent = 'Reaction time: -';
            countElementMx.textContent = 'Count: 0';
            meanElementMx.textContent = 'Mean: -';
            stdDevElementMx.textContent = 'SD: -';
            errorElementMx.textContent = 'Errors: 0';

        }

        function showResults() {
            let meanDeltaTimeDe = getMean(timesDe);
            let stdDevDe = getStandardDeviation(timesDe);

            let meanDeltaTimeCn = getMean(timesCn);
            let stdDevCn = getStandardDeviation(timesCn);

            let meanDeltaTimeMx = getMean(timesMx);
            let stdDevMx = getStandardDeviation(timesMx);

            countElementDe.textContent = 'Count: ' + timesDe.length;
            meanElementDe.textContent = 'Mean: ' + Math.round(meanDeltaTimeDe) + ' ms';
            stdDevElementDe.textContent = 'SD: ' + Math.round(stdDevDe) + ' ms';
            errorElementDe.textContent = 'Errors: ' + errorCountDe

            countElementCn.textContent = 'Count: ' + timesCn.length;
            meanElementCn.textContent = 'Mean: ' + Math.round(meanDeltaTimeCn) + ' ms';
            stdDevElementCn.textContent = 'SD: ' + Math.round(stdDevCn) + ' ms';
            errorElementCn.textContent = 'Errors: ' + errorCountCn;

            countElementMx.textContent = 'Count: ' + timesMx.length;
            meanElementMx.textContent = 'Mean: ' + Math.round(meanDeltaTimeMx) + ' ms';
            stdDevElementMx.textContent = 'SD: ' + Math.round(stdDevMx) + ' ms';
            errorElementMx.textContent = 'Errors: ' + errorCountMx;

            all_results.push({
                count: timesDe.length + timesCn.length + timesMx.length,
                meanDe: meanDeltaTimeDe,
                sdDe: stdDevDe,
                errorsDe: errorCountDe,
                meanCn: meanDeltaTimeCn,
                sdCn: stdDevCn,
                errorsCn: errorCountCn,
                meanMx: meanDeltaTimeMx,
                sdMx: stdDevMx,
                errorsMx: errorCountMx
            });
        }

        function setStimulus() {
            let image = copy_images.pop();
            try {
                stimulusElement.src = image.url;
            } catch (error) {
                stopExperiment();
                return;
            }
            stimulusElement.classList.remove('de', 'cn', 'mx');
            stimulusElement.classList.add(image.country);
        }

        function startTestTrial() {
            stimulusElement.src = '';
            stimulusIsVisible = false;

            let timeToWaitInSeconds = Math.random() * 4 + 2; // 2 - 6s
            //timeToWaitInSeconds = 0;
            testStimulusTimeout = setTimeout(showStimulus, timeToWaitInSeconds * 1000);
        }

        function showStimulus() {
            setStimulus();
            stimulusIsVisible = true;
            stimulusTimestamp = Date.now();
        }

        function recordStimulusReactionTime() {
            let deltaTime = Date.now() - stimulusTimestamp;

            if (stimulusElement.classList.contains('de')) {
                timesDe.push(deltaTime);
                timeElementDe.textContent = deltaTime + ' ms';
                countElementDe.textContent = 'Count: ' + timesDe.length;
            } else if (stimulusElement.classList.contains('cn')) {
                timesCn.push(deltaTime);
                timeElementCn.textContent = deltaTime + ' ms';
                countElementCn.textContent = 'Count: ' + timesCn.length;
            } else {
                timesMx.push(deltaTime);
                timeElementMx.textContent = deltaTime + ' ms';
                countElementMx.textContent = 'Count: ' + timesMx.length;
            }
        }

        function startExperiment() {
            clearResults();
            instructionElement.textContent = "Press 'd' for Germany, 'f' for China, 'g' for Mexico!";

            timesDe = [];
            errorCountDe = 0;

            timesCn = [];
            errorCountCn = 0;

            timesMx = [];
            errorCountMx = 0;

            copy_images = images.slice();
            copy_images.sort(() => Math.random() - 0.5);

            experimentActive = true;
            startTestTrial();
        }

        function stopExperiment() {
            clearTimeout(testStimulusTimeout);
            stimulusIsVisible = false;
            experimentActive = false;
            totalRounds++;

            console.log(totalRounds);

            if (totalRounds < 10) {
                instructionElement.textContent = 'Press SPACE to start!';
                showResults();
            } else {
                showResults();
                instructionElement.textContent = 'Experiment finished! Saving results...';
                test_id = localStorage.getItem('mci_test_id');
                if (test_id === undefined) window.location.href = '/mci';
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/mci/save-test-results", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify({
                    testNumber: 3,
                    testId: test_id,
                    results: all_results
                }));

                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        instructionElement.textContent = 'Results saved! Press ANY KEY to end the test.';
                        localStorage.setItem('mci_test_completed', 3);
                    }
                }
            }
        }

        window.addEventListener('keydown', (event) => {
            if (instructionElement.textContent === 'Experiment finished! Saving results...') {
                return;
            } else if (instructionElement.textContent === 'Results saved! Press ANY KEY to end the test.') {
                window.location.href = '/mci';
            }

            if (event.key === ' ') {
                if (!experimentActive) {
                    startExperiment();
                    return;
                }
            }
            
            if (stimulusIsVisible) {
                if (event.key === 'd') {
                    if (stimulusElement.classList.contains('de')) {
                        recordStimulusReactionTime();
                        if (timesDe.length + timesCn.length + timesMx.length >= 30) {
                            stopExperiment();
                            return;
                        } else {
                            startTestTrial();
                        }
                    } else if (stimulusElement.classList.contains('cn')) {
                        errorCountCn++;
                        errorElementCn.textContent = 'Errors: ' + errorCountCn;
                    } else {
                        errorCountMx++;
                        errorElementMx.textContent = 'Errors: ' + errorCountMx;
                    }
                } else if (event.key === 'f') {
                    if (stimulusElement.classList.contains('cn')) {
                        recordStimulusReactionTime();
                        if (timesDe.length + timesCn.length + timesMx.length >= 30) {
                            stopExperiment();
                            return;
                        } else {
                            startTestTrial();
                        }
                    } else if (stimulusElement.classList.contains('de')) {
                        errorCountDe++;
                        errorElementDe.textContent = 'Errors: ' + errorCountDe;
                    } else {
                        errorCountMx++;
                        errorElementMx.textContent = 'Errors: ' + errorCountMx;
                    }
                } else if (event.key === 'g') {
                    if (stimulusElement.classList.contains('mx')) {
                        recordStimulusReactionTime();
                        if (timesDe.length + timesCn.length + timesMx.length >= 30) {
                            stopExperiment();
                            return;
                        } else {
                            startTestTrial();
                        }
                    } else if (stimulusElement.classList.contains('de')) {
                        errorCountDe++;
                        errorElementDe.textContent = 'Errors: ' + errorCountDe;
                    } else {
                        errorCountCn++;
                        errorElementCn.textContent = 'Errors: ' + errorCountCn;
                    }
                }
            } else {
                // Early key pressed without stimulus
                if (event.key === 'd') {
                    errorCountDe++;
                    errorElementDe.textContent = 'Errors: ' + errorCountDe;
                } else if (event.key === 'f') {
                    errorCountCn++;
                    errorElementCn.textContent = 'Errors: ' + errorCountCn;
                } else if (event.key === 'g') {
                    errorCountMx++;
                    errorElementMx.textContent = 'Errors: ' + errorCountMx;
                }

                if (!timesDe.length + timesCn.length + timesMx.length >= 30) {
                    clearTimeout(testStimulusTimeout);
                    startTestTrial();
                }
            }
        });
    </script>
</body>
</html>
