<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>MyAI | GrütteChat</title>
    <meta name="description" content="Chat with your own AI assistant. Customize your AI's personality and OpenAI LLM model. Choose between GPT-4o mini and GPT-4o. GPT-4o even supports multimodal inputs. Available personalities include Uwu Gamer Girl, a Pirate, John Backus, Lorde, Taylor Swift, Taco the otter, B1 Battle Droid, and Anakin Skywalker." />
    <meta name="keywords" content="AI, Chat, Assistant, OpenAI, GPT-4o, GPT-4o mini, Multimodal, Chatbot, GrütteChat, MyAI, GrütteCloud MyAI, gruettecloud, Gamer Girl chatbot, Pirate chatbot, John Backus chatbot, Lorde chatbot, Taylor Swift chatbot, Taco chatbot, B1 Battle Droid chatbot, Anakin Skywalker chatbot" />
    <meta name="google-site-verification" content="gEiw9Swqs11DLP3QTgR8Y6hHGjQnhSWWud7LivLEmHs" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://www.gruettecloud.com/static/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="icon" href="https://www.gruettecloud.com/static/gruettechat.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .tiblock {
            align-items: center;
            display: flex;
            height: 1.4em;
        }

        .ticontainer .tidot {
            background-color: var(--text-color);
        }

        .message-input:focus {
            outline: none;
        }
        
        .tidot {
            -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
            border-radius: 2px;
            display: inline-block;
            height: 4px;
            margin-right: 2px;
            width: 4px;
        }
        
        @-webkit-keyframes mercuryTypingAnimation{
        0%{
          -webkit-transform:translateY(0px)
        }
        28%{
          -webkit-transform:translateY(-5px)
        }
        44%{
          -webkit-transform:translateY(0px)
        }
        }
        
        .tidot:nth-child(1){
        -webkit-animation-delay:200ms;
        }
        .tidot:nth-child(2){
        -webkit-animation-delay:300ms;
        }
        .tidot:nth-child(3){
        -webkit-animation-delay:400ms;
        }

        .chat-messages {
            height: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column-reverse;
            border-radius: 10px;
            padding: 10px;
            max-width: 100%;
            max-height: 100%;
        }

        .dreamy-button {
            background: linear-gradient(135deg, #FF6A88, #FF99AC, #FFC3A0, #FFD1FF, #B5FFFC, #8BC6EC);
            background-size: 200% 200%;
            border: none;
            color: white;
            cursor: pointer;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            animation: gradientShift 5s ease infinite;
        }

        @keyframes gradientShift {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

        .dreamy-button:hover {
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        }

        .dreamy-text {
            background: linear-gradient(135deg, #FF6A88, #FF99AC, #FFC3A0, #FFD1FF, #B5FFFC, #8BC6EC);
            background-size: 200% 200%;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            cursor: pointer;
            transition: all 0.3s ease;
            animation: gradientShift 5s ease infinite;
        }
        

        .unselected-button {
            background-color: var(--background-tile-color);
            color: var(--text-color);
            cursor: pointer;
            box-shadow: none;
        }

        .message {
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-word;
            white-space: normal; 
        }
    </style>

</head>
<body style="padding: 10px;">
    <div class="header" style="margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center;">
        <div style="padding-top: 10px; padding-left: 10px;">
            <a href="/chat" class="white-button-blue-on-hover" title="Back to Home"><span class="material-symbols-outlined">arrow_back_ios_new</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <a href="
            {% if selected_personality == "UwuGirl" %}https://www.gruettecloud.com/static/GamerGirl.jpeg
                {% elif selected_personality == "Pirate" %}https://www.gruettecloud.com/static/Pirate.jpeg
                {% elif selected_personality == "Backus" %}https://www.gruettecloud.com/static/Backus.jpeg
                {% elif selected_personality == "Lorde" %}https://www.gruettecloud.com/static/Lorde.jpeg
                {% elif selected_personality == "TaylorSwift" %}https://www.gruettecloud.com/static/taylorSwift.jpeg
                {% elif selected_personality == "Taco" %}https://www.gruettecloud.com/static/Taco.jpg
                {% elif selected_personality == "BattleDroid" %}https://www.gruettecloud.com/static/BattleDroid.jpg
                {% elif selected_personality == "Anakin" %}https://www.gruettecloud.com/static/Anakin.jpg
                {% else %}/profile_picture/ai.png{% endif %}
            " class="centered-content" style="display: flex; align-items: center; color: var(--text-color); text-decoration: none;">
            <h1 style="display: flex; align-items: center;">
                <img src="
                    {% if selected_personality == "UwuGirl" %}https://www.gruettecloud.com/static/GamerGirl.jpeg
                    {% elif selected_personality == "Pirate" %}https://www.gruettecloud.com/static/Pirate.jpeg
                    {% elif selected_personality == "Backus" %}https://www.gruettecloud.com/static/Backus.jpeg
                    {% elif selected_personality == "Lorde" %}https://www.gruettecloud.com/static/Lorde.jpeg
                    {% elif selected_personality == "TaylorSwift" %}https://www.gruettecloud.com/static/taylorSwift.jpeg
                    {% elif selected_personality == "Taco" %}https://www.gruettecloud.com/static/Taco.jpg
                    {% elif selected_personality == "BattleDroid" %}https://www.gruettecloud.com/static/BattleDroid.jpg
                    {% elif selected_personality == "Anakin" %}https://www.gruettecloud.com/static/Anakin.jpg
                    {% else %}/profile_picture/ai.png{% endif %}
                " style="height: 40px; width: 40px; border-radius: 50%; margin-right: 10px;">
                <span style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 55vw;">
                    {% if selected_personality == "UwuGirl" %}uwu Gamer Girl
                    {% elif selected_personality == "Pirate" %}Pirate
                    {% elif selected_personality == "Backus" %}John Backus
                    {% elif selected_personality == "Lorde" %}Lorde
                    {% elif selected_personality == "TaylorSwift" %}Taylor Swift
                    {% elif selected_personality == "Taco" %}Taco the otter
                    {% elif selected_personality == "BattleDroid" %}B1 Battle Droid
                    {% elif selected_personality == "Anakin" %}Anakin Skywalker
                    {% else %}MyAI{% endif %}
                </span>
            </h1>
        </a>
        <div onclick="toggleAiPreferences()" title="AI Preferences" style="cursor: pointer; margin-right: 10px; padding-top: 10px;">
            <span class="material-symbols-outlined dreamy-text">temp_preferences_custom</span>
        </div>
    </div>
    

    <div class="chat-messages">
        {% for message in chat_history %}
            {% if message.role == 'assistant' %}
                <div class="message left-bubble">
                    {{ message.content }}
                </div>
            {% else %}
                {% if message.image %}
                    <div class="message right-bubble">
                        {{ message.content }}
                    </div>
                    <div class="message right-bubble">
                        []({{ message.image }})
                    </div>
                {% else %}
                    <div class="message right-bubble">
                        {{ message.content }}
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    
    
    <div id="user-input" style="position: sticky; bottom: 0px; margin: 0; width: 100%; display: flex; gap: 10px; justify-content: end; align-items: end;">
        <input type="file" name="file" accept="image/*" id="fileInput" style="display: none;">
        <div id="fileLabel" style="bottom: 0; width: 55px; height: 55px; padding: 0; margin: 0; text-align: center; display: flex; align-items: center; justify-content: center; border-style: solid; border-color: var(--box-shadow-color); border-radius: 50%; border-width: 2px; margin: 0; cursor: pointer;">
            <span class="material-symbols-outlined">add</span>
        </div>
        <div id="removeDiv" style="bottom: 0; width: 55px; height: 55px; padding: 0; margin: 0; text-align: center; display: none; align-items: center; justify-content: center; border-style: solid; border-color: var(--box-shadow-color); border-radius: 50%; border-width: 2px; margin: 0; cursor: pointer;">
            <span class="material-symbols-outlined">close</span>
        </div>
        <div id="messageInputDiv" style="width: 100%; border: 2px solid var(--box-shadow-color); border-radius: 30px;">
            <div id="image-preview" style="display: none; padding: 5px; width: 300px; max-width: 50vw;">
                <img id="previewImage" style="width: 100%; max-width: 200px; max-height: 20svh; border-radius: 23px; object-fit: cover;">
            </div>
            <input id="messageInput" class="message-input" type="text" name="message" placeholder="Type your message..." autocomplete="off" style="border-radius: 30px; font-size: 1em; padding-left: 20px; padding-right: 30px; height: 55px; max-height: 55px; background-color: transparent; margin: 0; width: 100%;">
            <button id="sendButton" class="send-button" style="background-color: var(--box-shadow-color); width: 40px; height: 40px; position: absolute; right: 8px; bottom: -10px; transform: translateY(-50%); border-radius: 20px; margin: 0; padding: 5px; text-align: center; display: flex; align-items: center; justify-content: center;">
                <span class="material-symbols-outlined">arrow_upward</span>
            </button>
        <div>
    </div>
    <div id="cookie-banner"></div>


    <div id="ai-preferences" class="animate__animated animate__slideInUp" style="position: fixed; bottom: 0; left: 10px; width: calc(100% - 20px); padding: 20px; background-color: var(--background-color); border: 1px solid var(--box-shadow-color); display: none; justify-content: space-between; align-items: center; border-radius: 20px 20px 0 0;">
        <div onclick="toggleAiPreferences()" style="position: absolute; top: 20px; right: 20px; cursor: pointer;">
            <span class="material-symbols-outlined">close</span>
        </div>

        <h1 style="margin-bottom: 30px;">AI Preferences</h1>

        <p style="margin-bottom: 10px; font-size: 0.9em;">Personality:</p>
        <select id="color" name="myAI" onchange="location = this.value;" class="login-input" style="-webkit-appearance: none; width: 100%; border-radius: 30px; background-color: var(--background-tile-color); margin: 0; border: 2px solid var(--box-shadow-color); font-size: 1em; padding: 10px; padding-left: 20px; ">
            {% if selected_personality != 'Default' %}
            <option value="/change_ai_personality/{{ selected_personality }}">
                {% if selected_personality == "UwuGirl" %}Uwu Girl (NSFW)
                {% elif selected_personality == "Pirate" %}Pirate
                {% elif selected_personality == "Backus" %}Backus (BNF inventor)
                {% elif selected_personality == "Lorde" %}Lorde
                {% elif selected_personality == "TaylorSwift" %}Taylor Swift
                {% elif selected_personality == "Taco" %}Taco the otter
                {% elif selected_personality == "Anakin" %}Anakin Skywalker
                {% elif selected_personality == "BattleDroid" %}B1 Battle Droid
                {% endif %}
            </option>
            {% endif %}
            <option value="/change_ai_personality/Default">Default</option>
            {% if selected_personality != 'UwuGirl'%}
                <option value="/change_ai_personality/UwuGirl">Uwu Girl (NSFW)</option>
            {% endif %}
            {% if selected_personality != 'Pirate'%}
                <option value="/change_ai_personality/Pirate">Pirate</option>
            {% endif %}
            {% if selected_personality != 'Backus'%}
                <option value="/change_ai_personality/Backus">Backus (BNF inventor)</option>
            {% endif %}
            {% if selected_personality != 'Lorde'%}
                <option value="/change_ai_personality/Lorde">Lorde</option>
            {% endif %}
            {% if selected_personality != 'TaylorSwift'%}
                <option value="/change_ai_personality/TaylorSwift">Taylor Swift</option>
            {% endif %}
            {% if selected_personality != 'Taco'%}
                <option value="/change_ai_personality/Taco">Taco the otter</option>
            {% endif %}
            {% if selected_personality != 'Anakin'%}
                <option value="/change_ai_personality/Anakin">Anakin Skywalker</option>
            {% endif %}
            {% if selected_personality != 'BattleDroid'%}
                <option value="/change_ai_personality/BattleDroid">B1 Battle Droid</option>
            {% endif %}
        </select>

        <div style="display: flex; flex-direction: row; align-items: center; margin-top: 20px; margin-bottom: 10px; gap: 5px;">
            <p style="font-size: 0.9em;">AI Model:</p>
            <span class="material-symbols-outlined align-icons-center" style="color: var(--text-color); cursor: pointer; font-size: 0.9em;" onclick="toggleModelHelp()">info</span>
        </div>

        <div id="model-help" style="max-height: 30svh; overflow-y: auto; overflow-x: none; display: none; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 100%; font-size: 0.9em; margin-bottom: 15px;" class="animate__animated animate__fadeIn">
            <b style="padding: 10px 0; display: flex; text-align: center; align-self: center; align-items: center; justify-content: center; font-size: 1em; font-weight: bold; gap: 10px; margin: 0 auto;">What model to choose?</b>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 100%; padding: 10px;">
                <div style="width: 50%; text-align: left; text-wrap: balance; display: flex; align-items: center; justify-content: center; flex-direction: row; font-size: 1em; font-weight: bold; gap: 10px;">
                    <span class="material-symbols-outlined dreamy-text" style="cursor: text;">bolt</span>
                    GPT-4o mini
                </div>
                <div style="width: 50%; text-align: left; text-wrap: balance; display: flex; align-items: center; justify-content: center; flex-direction: row; font-size: 1em; font-weight: bold; gap: 10px;">
                    <span class="material-symbols-outlined dreamy-text" style="cursor: text;">temp_preferences_custom</span>
                    GPT-4o
                </div>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 100%; padding: 10px;">
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center;">
                    <p>Great for fast and lightweight tasks</p>
                </div>
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center;">
                    <p>Best for complex, multi-step tasks requiring high-intelligence</p>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 100%; padding: 10px;">
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center; gap: 10px;">
                    <p>Context window of last 11 messages</p>
                </div>
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center; gap: 10px;">
                    <p>4x longer context window</p>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 100%; padding: 10px;">
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center; gap: 10px;">
                    <p>Text only</p>
                </div>
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center; gap: 10px;">
                    <p>Text and images</p>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; width: 100%; padding: 10px;">
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center; gap: 10px;">
                    Available for free
                </div>
                <div style="width: 50%; display: flex; text-align: center; text-wrap: balance; justify-content: center; gap: 10px;">
                    Included with GrütteCloud PLUS
                </div>
            </div>
        </div>
        
        <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; background-color: var(--background-tile-color); border-radius: 30px; border: 2px solid var(--box-shadow-color); width: 100%;">
            <div id="free-model" class="" onclick="changeAiModel('free');" style="cursor: pointer; padding: 10px; border-radius: 30px; width: 50%; text-align: center; gap: 10px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <span class="material-symbols-outlined align-icons-center" style="margin: 0; font-size: 1.2em;">bolt</span>
                <p>GPT-4o mini</p>
            </div>
            <div id="premium-model" class="" onclick="changeAiModel('premium');" style="cursor: pointer; padding: 10px; border-radius: 30px; width: 50%; text-align: center; gap: 10px; display: flex; flex-direction: row; justify-content: center; align-items: center;">
                <span class="material-symbols-outlined align-icons-center" style="margin: 0; font-size: 1.2em;">temp_preferences_custom</span>
                <p>GPT-4o</p>
            </div>
            {% if not has_premium %}
                <div class="dreamy-button" style="position: absolute; margin-top: -10px; padding: 3px 7px; border-radius: 30px; font-size: 0.8em; color: var(--white-color); right: 10px;">
                    PLUS
                </div>
            {% endif %}
        </div>

        <p style="margin-bottom: 10px; margin-top: 20px; font-size: 0.9em;">System Controls:</p>
        <div style="display: flex; flex-direction: row; width: 100%; gap: 10px;">
            <div class="unselected-button" style="text-decoration: none; border-radius: 50%; width: 50px; text-align: center; background-color: var(--background-tile-color); border: 2px solid var(--box-shadow-color); display: flex; align-items: center; justify-content: center;">
                <span id="darkModeToggle" class="material-symbols-outlined" title="Darkmode" style="margin: 0;">sunny</span>
            </div>
            <a href="/restart-myai" class="unselected-button" style="gap: 10px; text-decoration: none; padding: 10px; border-radius: 30px; text-align: center; background-color: var(--background-tile-color); border: 2px solid var(--box-shadow-color); display: flex; align-items: center; justify-content: center; width: calc(100% - 60px);">
                <span class="material-symbols-outlined" title="Restart" style="margin: 0;">sync</span>
                Restart MyAI
            </a>
        </div>
    </div>
    {% include "components/error.html" %}
</body>
</html>

<script src="https://www.gruettecloud.com/static/cookies.js"></script>
<script src="https://www.gruettecloud.com/static/darkmode.js"></script>

<script>
    window.onload = function() {
        var input = document.getElementById('messageInput');
        const userAgent = navigator.userAgent;
        input.focus();

        {% if ai_model == "gpt-4o-mini" %}
            document.getElementById('free-model').classList.add('dreamy-button');
            document.getElementById('fileLabel').style.display = 'none';
            document.getElementById('removeDiv').style.display = 'none';
            document.getElementById('messageInputDiv').style.width = '100%';
        {% else %}
            document.getElementById('premium-model').classList.add('dreamy-button');
            document.getElementById('messageInputDiv').style.width = 'calc(100% - 65px)';
        {% endif %}

    };
</script>

<script src="https://www.gruettecloud.com/static/cookies.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const fileInput = document.getElementById("fileInput");
        const fileLabel = document.getElementById("fileLabel");
        const removeDiv = document.getElementById("removeDiv");
        const messageInput = document.getElementById("messageInput");

        for (let i = 0; i < document.getElementsByClassName("message").length; i++) {
            if (document.getElementsByClassName("message")[i].textContent.trim() === "" && document.getElementsByClassName("message")[i].classList.contains("right-bubble")) {
                // remove empty messages
                document.getElementsByClassName("message")[i].remove();
            }
            
        }

        fileInput.addEventListener("change", function() {
            if (fileInput.files.length > 0) {
                const selectedFile = fileInput.files[0];
                fileLabel.style.display = "none";
                removeDiv.style.display = "flex";
                document.getElementById('sendButton').style.backgroundColor = 'transparent';
                document.getElementById('sendButton').classList.add('dreamy-button');

                // Display the image preview
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('previewImage').src = e.target.result;
                    document.getElementById('image-preview').style.display = 'block';
                };
                reader.readAsDataURL(selectedFile);

            } else {
                messageInput.value = '';
                fileLabel.style.display = "flex";
                removeDiv.style.display = "none";
                document.getElementById('previewImage').src = '';
                document.getElementById('image-preview').style.display = 'none';
            }
        });

        removeDiv.addEventListener("click", function() {
            fileInput.value = ''; // Clear the selected file
            document.getElementById('previewImage').src = ''; // Clear the image preview
            document.getElementById('image-preview').style.display = 'none'; // Hide the image preview

            fileLabel.style.display = "flex";
            removeDiv.style.display = "none";

            if (messageInput.value === '') {
                document.getElementById('sendButton').style.backgroundColor = 'var(--box-shadow-color)';
                document.getElementById('sendButton').classList.remove('dreamy-button');
            }
        });

        messageInput.addEventListener("input", function() {
            if (messageInput.value !== '') {
                document.getElementById('sendButton').style.backgroundColor = 'transparent';
                document.getElementById('sendButton').classList.add('dreamy-button');
            } else if (fileInput.files.length === 0) {
                document.getElementById('sendButton').style.backgroundColor = 'var(--box-shadow-color)';
                document.getElementById('sendButton').classList.remove('dreamy-button');
            }
        });

        {% if has_premium %}
        messageInput.addEventListener("paste", function() {
            const items = event.clipboardData.items;
            for (let i = 0; i < items.length; i++) {
                if (items[i].type.indexOf("image") !== -1) {
                    const blob = items[i].getAsFile();
                    
                    // Create a File object to set as the value of the file input
                    const dataTransfer = new DataTransfer();
                    dataTransfer.items.add(blob);
                    fileInput.files = dataTransfer.files;

                    document.getElementById('fileLabel').style.display = 'none';
                    document.getElementById('removeDiv').style.display = 'flex';
                    
                    // Display the image preview
                    const reader = new FileReader();
                    reader.onload = function(e) {
                        document.getElementById('previewImage').src = e.target.result;
                        document.getElementById('image-preview').style.display = 'block';
                        document.getElementById('sendButton').style.backgroundColor = 'transparent';
                        document.getElementById('sendButton').classList.add('dreamy-button');
                    };
                    reader.readAsDataURL(blob);
                }
            }
        });
        {% endif %}


    });

    function toggleAiPreferences() {
        var aiPreferences = document.getElementById("ai-preferences");
        if (aiPreferences.style.display === "none") {
            aiPreferences.style.display = "block";
            aiPreferences.classList.remove("animate__slideOutDown");
            aiPreferences.classList.add("animate__slideInUp");
        } else {
            aiPreferences.classList.remove("animate__slideInUp");
            aiPreferences.classList.add("animate__slideOutDown");
            document.getElementById("model-help").style.display = "none";
            setTimeout(function() {
                aiPreferences.style.display = 'none';
                aiPreferences.classList.remove('animate__slideOutDown');
            }, 750);

        }
    }

    function toggleModelHelp() {
        var modelHelp = document.getElementById("model-help");
        if (modelHelp.style.display === "none") {
            modelHelp.style.display = "flex";
        } else {
            modelHelp.style.display = "none";
        }
    }

    function changeAiModel(model) {
        if (document.getElementById('free-model').classList.contains('dreamy-button') && model === "free") {
            return;
        } else if (document.getElementById('premium-model').classList.contains('dreamy-button') && model === "premium") {
            return;
        }

        if (model === "premium") {
            document.getElementById('free-model').classList.remove('dreamy-button');
            document.getElementById('premium-model').classList.add('dreamy-button');
            document.getElementById('messageInputDiv').style.width = 'calc(100% - 65px)';
        } else {
            document.getElementById('premium-model').classList.remove('dreamy-button');
            document.getElementById('free-model').classList.add('dreamy-button');
            document.getElementById('messageInputDiv').style.width = '100%';
        }
        document.getElementById("model-help").style.display = "none";
        $.ajax({
            url: '/changeAiModel',
            type: 'POST',
            data: { model: model },
            success: function(response) {
                if (response.success) {
                    if (model === "premium") {
                        document.getElementById('fileLabel').style.display = 'flex';
                        removeDiv.style.display = 'none';
                    } else {
                        document.getElementById('fileLabel').style.display = 'none';
                        document.getElementById('removeDiv').style.display = 'none';
                    }
                    var aiPreferences = document.getElementById("ai-preferences");
                    aiPreferences.classList.remove("animate__slideInUp");
                    aiPreferences.classList.add("animate__slideOutDown");
                    setTimeout(function() {
                        aiPreferences.style.display = 'none';
                        aiPreferences.classList.remove('animate__slideOutDown');
                    }, 750);

                } else {
                    errorFs("Error", "An error occurred while changing the AI model. Please try again.");
                }
            },
            error: function(xhr, status, error) {
                if (xhr.status === 401) {
                    window.location.href = '/premium';
                } else if (xhr.status === 404) {
                    window.location.href = '/';
                } else if (xhr.status === 400) {
                    console.log("Error: " + xhr.responseText);
                } else {
                    errorFs("Error", "An error occurred while changing the AI model. Please try again.");
                }
                if (model === "premium") {
                    document.getElementById('premium-model').classList.remove('dreamy-button');
                    document.getElementById('free-model').classList.add('dreamy-button');
                    document.getElementById('messageInputDiv').style.width = '100%';
                } else {
                    document.getElementById('free-model').classList.remove('dreamy-button');
                    document.getElementById('premium-model').classList.add('dreamy-button');
                    document.getElementById('messageInputDiv').style.width = 'calc(100% - 65px)';
                }
            }
        });
    }
</script>

<script>
    $(document).ready(function() {
        // Trigger file input when the fileLabel is clicked
        $('#fileLabel').click(function() {
            $('#fileInput').click();
        });

        // Send message (text or file) using AJAX when the sendButton is clicked
        $('#sendButton').click(function() {
            sendMessage();
        });

        $('#messageInput').keypress(function(event) {
            if (event.keyCode === 13) { // Check if Enter key is pressed
                event.preventDefault(); // Prevent default Enter key behavior (like line break)
                sendMessage(); // Call sendMessage function when Enter is pressed
            }
        });


        function sendMessage(optionalMessage = null) {
            var message = document.getElementById('messageInput').value;
            var fileInput = document.getElementById('fileInput');

            if (optionalMessage !== null) {
                message = optionalMessage;
            } else if (message === '' && fileInput.files.length === 0) {
                return;
            } else if (fileInput.files.length > 0) {
                appendMessage({ role: "user", content: '*Sending image...*\n' + message });
            } else {
                appendMessage({ role: "user", content: message });
            }
            
            $('#loadingAnimation').show();
            

            
            var file = fileInput.files[0]; // Get selected file
            var formData = new FormData();
            formData.append('message', message); // Append text message
            formData.append('file', file); // Append file


            appendMessage({role: "assistant", content: '<div class="ticontainer"><div class="tiblock"><div class="tidot"></div><div class="tidot"></div><div class="tidot"></div></div></div>'});

            $('#messageInput').val('');

            // scroll to bottom
            var chatMessages = $(".chat-messages");
            chatMessages.scrollTop(chatMessages.prop("scrollHeight"));
            
            if (fileInput.files.length > 0) {
                $('#fileInput').val('');
                document.getElementById('fileLabel').style.display = 'flex';
                document.getElementById('removeDiv').style.display = 'none';
            }

            document.getElementById('sendButton').classList.remove('dreamy-button');
            document.getElementById('sendButton').style.backgroundColor = 'var(--box-shadow-color)';
            document.getElementById('previewImage').src = '';
            document.getElementById('image-preview').style.display = 'none';

            
            $.ajax({
                url: '/myai',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    $('#loadingAnimation').hide();
                    var chatMessages = $(".chat-messages");
                    chatMessages.empty();
                    for (var i = 0; i < response.chat_history.length; i++) {
                        appendMessage(response.chat_history[i]);
                    }
                    chatMessages.scrollTop(chatMessages.prop("scrollHeight"));
                    $('#messageInput').focus();

                },
                error: function(xhr, status, error) {
                    $('#loadingAnimation').hide();
                    errorFs("Couldn't send message.", "An error occurred while sending the message. Please try again.");
                    $('#messageInput').focus();
                }
            });
        }

        function findAndReplaceMarkdown() {
            var messages = $(".message");
            for (var i = 0; i < messages.length; i++) {
                var message = messages[i];
                var content = message.innerHTML;
                // **bold** -> <b>bold</b>
                content = content.replace(/\*\*(.*?)\*\*/g, "<b>$1</b>");
                // *italic* -> <i>italic</i>
                content = content.replace(/\*(.*?)\*/g, "<i>$1</i>");
                // ~~strikethrough~~ -> <s>strikethrough</s>
                content = content.replace(/~~(.*?)~~/g, "<s>$1</s>");

                // Remove coding language from code block
                content = content.replace(/```(.*?)\n/g, "```");

                // ```code``` -> <span style='background-color: var(--box-shadow-color); border-radius: 10px; padding: 10px; display: inline-block; margin-bottom: 10px;'><code>any lines of anything</code></span>
                content = content.replace(/```([\s\S]*?)```/g, "<span style='background-color: var(--box-shadow-color); border-radius: 10px; padding: 10px; display: inline-block; margin-bottom: 10px;'><code>$1</code></span>");
                
                const codeBlockRegex = /<code>((?:.|\n)*?)<\/code>/g;
                content = content.replace(codeBlockRegex, (match, code) => {
                    const indentedCode = code.replace(/(    )/g, "&nbsp;&nbsp;&nbsp;&nbsp;");
                    return `<code>${indentedCode}</code>`;
                });

                // `code` -> <span style='background-color: var(--box-shadow-color); border-radius: 10px; padding: 5px; display: inline-block;'><code>code</code></span>
                content = content.replace(/`([^`]+)`/g, "<span style='background-color: var(--box-shadow-color); border-radius: 5px; padding: 5px; display: inline-block;'><code>$1</code></span>");
                
                // blank line -> <br>
                content = content.replace(/\n/g, "<br>");

                // ![link](url) -> <a href="url"><img src="url"></a>
                content = content.replace(/\!\[(.*?)\]\((.*?)\)/g, function(match, p1, p2) {
                    return `<a href="${p2}"><img src="${p2}" style="margin: 0; border-radius: 10px; width: 100%; max-width: 500px;" onerror="this.onerror=null; this.src='https://www.gruettecloud.com/static/icons/folder-error.svg';"></a>`;
                });

                // [link](url) -> <a href="url"><img src="url"></a>
                content = content.replace(/\[(.*?)\]\((.*?)\)/g, function(match, p1, p2) {
                    return `<br><a href="${p2}"><img src="${p2}" style="margin: 0; border-radius: 10px; width: 100%; max-width: 500px;" onerror="this.onerror=null; this.src='https://www.gruettecloud.com/static/icons/folder-error.svg';"></a><br>`;
                });
                

                //    - list item -> <li>list item</li>
                content = content.replace(/(  )-/g, "&nbsp;&nbsp;-");

                // if content starts with <br>, remove it
                if (content.startsWith("<br>")) {
                    content = content.slice(4);
                }

                // if content ends with <br>, remove it
                if (content.endsWith("<br>")) {
                    content = content.slice(0, -4);
                }
                
                message.innerHTML = content;
            }
        }

        findAndReplaceMarkdown();

        function appendMessage(message) {
            var messageClass = message.role === "assistant" ? "left-bubble" : "right-bubble";
            if (message.image) {
                $(".chat-messages").prepend('<div class="message ' + messageClass + '"><img class="chat-image" src="' + message.image + '" style="width: 100%; max-width: 500px; border-radius: 10px;"></div>');
            }

            if (message.content === "") {
                return//$(".chat-messages").prepend('<div class="message ' + messageClass + '">*You sent an image.*</div>');
            } else {
                $(".chat-messages").prepend('<div class="message ' + messageClass + '">' + message.content + '</div>');
            }
            findAndReplaceMarkdown();
        }

        function checkAndRequestWelcomeMessage() {
            if ($(".chat-messages").children().length === 0) {
                const userLanguage = navigator.language || navigator.userLanguage;

                console.log(navigator.userAgent);

                if (['Googlebot', 'Bytespider', 'bingbot'].some(bot => navigator.userAgent.includes(bot))) {
                    console.log("Bot detected. Not requesting welcome message.");
                    return;
                }


                if (userLanguage.startsWith('de')) {
                    sendMessage("#!# Requesting Welcome Message DE #!#");
                } else {
                    sendMessage("#!# Requesting Welcome Message #!#");
                }
            }
        }
    
        // Call the checkAndRequestWelcomeMessage function when the page loads
        checkAndRequestWelcomeMessage();
    });
</script>