<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>Privacy | GrütteChat</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
	<link rel="stylesheet" href="https://jan.gruettefien.com/static/stylesheet.css">
    <link rel="icon" href="https://jan.gruettefien.com/static/gruettechat.png">
    <script src="https://jan.gruettefien.com/static/switchservice.js"></script>
	<style>
		.centered-div {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			padding-top: 20px;
			height: auto;
			max-height: calc(100vh - 120px);
			overflow-y: auto;
		}
		
		h2 {
			color: var(--primary-color);
			font-weight: bold;
		}	
	</style>
</head>
<body>
	<div class="header">
        <div class="dark-mode-toggle">
            <a href="{{ url_prefix }}/" class="white-button-blue-on-hover" title=""><span class="material-symbols-outlined">arrow_back_ios_new</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>
        </div>
		<div class="centered-content">
            <a href="{{ url_prefix }}/" class="logo" title="Home">
                <img src="https://jan.gruettefien.com/static/gruettechat.png" style="width: 40px; height: 40px;" title="GrütteChat">
            </a>
        </div>
        <div class="dark-mode-toggle" style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <div class="dropdown">
                <button class="white-button-blue-on-hover" onclick="toggleDropdown()" style="background-color: var(--background-color); border: none;">
                    <span class="material-symbols-outlined" title="GrütteCloud">apps</span>
                </button>
                <div class="dropdown-menu">
                    <div class="inner-tile">
                        <h3 style="text-align: center; color: var(--primary-color);">GrütteCloud</h3>
                        <div class="spaced-tile blue-on-hover"></div>
                        <a href="{{ url_prefix }}/settings" title="GrütteID"><span class="material-symbols-outlined align-icons-center">account_circle</span>&nbsp;&nbsp;GrütteID</a>
                        <a href="{{ url_prefix }}/chat" title="GrütteChat"><span class="material-symbols-outlined align-icons-center">forum</span>&nbsp;&nbsp;GrütteChat</a>
                        <a href="{{ url_prefix }}/storage" title="GrütteStorage"><span class="material-symbols-outlined align-icons-center">cloud_upload</span>&nbsp;&nbsp;GrütteStorage</a>
                    </div>
                </div>
            </div>
        </div>
	</div>


	<div class="wrapping-tile" style="font-size: 13px; padding: 20px;">
		<div class="spaced-tile"></div>
        <h1>Privacy Policy</h1>
        <p>Effective Date: 14.06.2023</p><br><br>
        <p>At GrütteChat, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and store the data we gather from you when you visit our website or use our services. By accessing or using our website and services, you consent to the practices described in this Privacy Policy.</p><br>
        <h2>1. Information We Collect</h2>
        <h3>1.1 Personal Information</h3>
        <p>When you visit our website or use our services, we may collect certain personal information that can be used to identify you, such as your name, email, or any other information you voluntarily provide to us.</p>
        <h3>1.2 Log Files</h3>
        <p>Like many other websites, we may automatically gather certain non-personal information about your visit to our website. This may include your IP address, browser type, operating system, referring website, pages viewed, and the dates/times when you accessed the website. We use this information to analyze trends, administer the website, and track errors.</p><br>
        <h2>2. Use of Information</h2>
        <h3>2.1 Personal Information</h3>
        <p>We may use the personal information we collect from you for the following purposes:</p>
        • To provide and improve our services, products, and customer support.<br>
        • To personalize your experience and customize the content and advertising you see.<br>
        • To communicate with you, including responding to your inquiries, requests, or feedback.<br>
        • To send you promotional materials or other information about our products or services that may be of interest to you. You may opt out of receiving these communications at any time. Please reach out to support.
        <h3>2.2 Log Files</h3>
        <p>We use log files primarily for system administration purposes, to monitor website usage, and to improve the overall user experience. We may also use this information to diagnose technical problems, prevent fraud or abuse, and generate aggregate statistical data.</p><br>
        <h2>3. Data Sharing and Disclosure</h2>
        <h3>3.1 Third-Party Service Providers</h3>
        <p>We may engage third-party service providers to perform functions on our behalf, such as website hosting, data storage, data analysis or email delivery. These service providers have access to your personal information only as necessary to perform their duties and are obligated to maintain the confidentiality and security of your data.</p>
        <h3>3.2 Legal Requirements and Safety</h3>
        <p>We may disclose your personal information if required by law or if we believe that such action is necessary to:</p>
        • Comply with a legal obligation, regulatory requirement, or valid legal process.<br>
        • Protect and defend our rights, property, or the safety of GrütteChat, our developers, or users.<br>
        • Detect, prevent, or address fraud, security, or technical issues.<br><br>
        <h2>4. Data Security</h2>
        <p>We take the security of your personal information seriously and have implemented appropriate measures to safeguard it from unauthorized access, disclosure, alteration, or destruction. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure. We cannot guarantee the absolute security of your data.</p><br>
        <h2>5. Your Rights and Choices</h2>
        <h3>5.1 Access and Modification</h3>
        <p>You have the right to access, correct, or update the personal information we hold about you. If you would like to do so, please contact support.</p>
        <h3>5.2 Data Retention</h3>
        <p>We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.</p>
        <h3>5.3 Opt-Out</h3>
        <p>You have the right to opt out of receiving promotional communications from us. If you no longer wish to receive such communications, you can unsubscribe by following the instructions provided in the communication or by contacting us directly.</p><br>
        <h2>6. Cookie Policy</h2>
        <p>This website uses cookies to enhance your browsing experience. By using our website, you consent to the use of cookies in accordance with this Privacy Policy.</p><br>
        <h2>7. Third-Party Scripts and IP Sharing</h2>
        <p>We may utilize third-party scripts, such as those from Google, CloudFlare and GitHub, to enhance the functionality of our website for better fonts or icons. These scripts may collect certain information, including your IP address, for analysis and optimization purposes. When pressing the "Accept" button on the cookie banner, you acknowledge and consent to the use of these scripts and the sharing of your IP address for the stated purposes. However, you have the right to opt out ("Decline" button on the cookie banner) of this data collection and can adjust your browser settings or use browser extensions to manage or block these scripts.</p><br>
        <h2>8. Children's Privacy</h2>
        <p>Our website and services are not intended for individuals under the age of 18. We do not knowingly collect personal information from children. If you believe that we may have inadvertently collected information from a child, please contact us immediately, and we will take appropriate measures to investigate and remove such information from our systems.</p><br>
        <h2>9. Changes to This Privacy Policy</h2>
        <p>We reserve the right to modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the updated Privacy Policy on our website. Your continued use of our website and services after the posting of any revised Privacy Policy constitutes your acceptance of the updated terms.</p><br>
        <h2>10. Contact Us</h2>
        <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please reach out to support or contact us at:</p><br>
        <p>
        GrütteChat<br>
        Jan Grüttefien<br>
        Kapellenweg 47a<br>
        70378 Stuttgart<br>
        jan@gruettefien.com<br>
        </p><br>
        <p>Thank you for taking the time to review our Privacy Policy.</p>
        <div align="center">
            <div class="spaced-tile"></div>
            <button class="button-blue" style="min-width: 0px;"><a href="{{ url_prefix }}/support" style="text-decoration: none; color: var(--white-color);">Talk to support</a></button>
        </div>
	</div>
	<div id="cookie-banner"></div>
</body>
</html>

<script>
		// Dark mode toggle functionality
		var darkModeToggle = document.getElementById('darkModeToggle');
		var body = document.body;
		var isDarkMode = localStorage.getItem('darkMode');

		if (isDarkMode === 'true') {
				body.classList.add('dark-mode');
				document.documentElement.setAttribute('data-theme', 'dark');
				darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
		}

		darkModeToggle.addEventListener('click', function() {
				if (body.classList.contains('dark-mode')) {
						body.classList.remove('dark-mode');
						localStorage.setItem('darkMode', 'false');
						document.documentElement.setAttribute('data-theme', 'light');
						darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
				} else {
						body.classList.add('dark-mode');
						localStorage.setItem('darkMode', 'true');
						document.documentElement.setAttribute('data-theme', 'dark');
						darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
				}
		});

		darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover
</script>

<script src="https://jan.gruettefien.com/static/cookies.js"></script>