<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>GrütteID | GrütteCloud</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://jan.gruettefien.com/static/stylesheet.css">
    <link rel="icon" href="https://jan.gruettefien.com/static/GrütteID.png">
    <script src="https://jan.gruettefien.com/static/switchservice.js"></script>
</head>
<body>

    <div class="header">
        <div class="dark-mode-toggle">
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="dashboard" style="display: none;"><a href="{{ url_prefix }}/dashboard" class="white-button-blue-on-hover" title="Dashboard"><span class="material-symbols-outlined">code</span></a></span>
        </div>
        <div class="centered-content">
            <a href="{{ url_prefix }}/settings" class="logo" title="Home">
                <img src="https://jan.gruettefien.com/static/GrütteID.png" style="width: 40px; height: 40px;" title="GrütteID">
            </a>
        </div>
        <div class="dark-mode-toggle" style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <div class="dropdown">
                <button class="white-button-blue-on-hover" onclick="toggleDropdown()" style="background-color: var(--background-color); border: none;">
                    <span class="material-symbols-outlined" title="GrütteCloud">apps</span>
                </button>&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="dropdown-menu" style="right: -80px;">
                    <div class="inner-tile">
                        <h3 style="text-align: center; color: var(--primary-color);">GrütteCloud</h3>
                        <div class="spaced-tile blue-on-hover"></div>
                        <a href="{{ url_prefix }}/settings" title="GrütteID"><span class="material-symbols-outlined align-icons-center">account_circle</span>&nbsp;&nbsp;GrütteID</a>
                        <a href="{{ url_prefix }}/chat" title="GrütteChat"><span class="material-symbols-outlined align-icons-center">forum</span>&nbsp;&nbsp;GrütteChat</a>
                        <a href="{{ url_prefix }}/storage" title="GrütteStorage"><span class="material-symbols-outlined align-icons-center">cloud_upload</span>&nbsp;&nbsp;GrütteStorage</a>
                    </div>
                </div>
            </div>
            <a href="{{ url_prefix }}/help" class="white-button-blue-on-hover" title="Help Center"><span class="material-symbols-outlined">help_center</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_prefix }}/logout" class="logout" title="Logout"><span class="material-symbols-outlined">logout</span></a>
        </div>
    </div>

    {% if error %}
        <div id="error-message" style="display: none;">
            <div class="wrapping-tile" style="text-align: center;">
                <div class="inner-tile" style="color: var(--yellow)">
                    {{ error }}
                </div>
            </div>
            <div class="spaced-tile"></div>
        </div>
    {% endif %}
    {% if not has_premium %}
        <div class="wrapping-tile" style="text-align: center;">
            <a href="{{ url_prefix }}/premium" style="text-decoration: none; color: var(--white-color);">
                <div class="premium-tile">
                    <h1>Unlock GrütteChat PLUS</h1>
                    for only 2.99€ once!
                </div>
            </a>
        </div>
        <div class="spaced-tile"></div>
    {% endif %}
    <div style="flex-direction: row; display: flex; width: 100%;">
        <div class="wrapping-tile" style="width: 50%; text-align: center; margin-left: 0; margin-right: 10px;">
            <h1>Change password</h1>
            <form action="{{ url_prefix }}/change_password" method="POST" id="change_password" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                <input type="text" id="old_password" name="old_password" placeholder="Old password" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="new_password" name="new_password" placeholder="New password" autocomplete="off" required class="settings-input">
                <input type="submit" value="Change password" class="settings-button">
            </form>
            <div class="spaced-tile"><br></div>
            <h1>Change email</h1>
            <form action="{{ url_prefix }}/change_email" method="POST" id="change_email" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                <input type="text" id="new_email" name="new_email" placeholder="New email" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="password" name="password" placeholder="Password" autocomplete="off" required class="settings-input">
                <input type="submit" value="Change email" class="settings-button" style="margin-bottom: 10px;">
            </form>
        </div>
        <div class="wrapping-tile" style="width: 50%; margin: 0 auto; margin-right: 0; margin-left: 10px;">
            <h1>MyAI personality</h1>
            <a href="{{ url_prefix }}/change_ai_personality/Default" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Default' or not selected_personality%}background-color: var(--primary-color); color: var(--white-color); border: none; {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Default
                </div>
            </a>
            <a href="{{ url_prefix }}/change_ai_personality/UwuGirl" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'UwuGirl' %}background-color: var(--primary-color); color: var(--white-color); border: none; {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Uwu Girl (NSFW)
                </div>
            </a>
            <a href="{{ url_prefix }}/change_ai_personality/LeeKnow" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'LeeKnow' %}background-color: var(--primary-color); color: var(--white-color); border: none; {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Lee Know
                </div>
            </a>
            <a href="{{ url_prefix }}/change_ai_personality/Pirate" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Pirate' %}background-color: var(--primary-color); color: var(--white-color); border: none; {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Pirate
                </div>
            </a>
            <a href="{{ url_prefix }}/change_ai_personality/Pistachio" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Pistachio' %}background-color: var(--primary-color); color: var(--white-color); border: none; {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Pistachio the dinosaur
                </div>
            </a>
            <a href="{{ url_prefix }}/change_ai_personality/Backus" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Backus' %}background-color: var(--primary-color); color: var(--white-color); border: none; {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Backus (BNF inventor)
                </div>
            </a>
            <a href="{{ url_prefix }}/change_ai_personality/Lorde" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Lorde' %}background-color: var(--primary-color); color: var(--white-color); border: none; {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Lorde
                </div>
            </a>
            {% if display_back_to_ai %}
                <a href="{{ url_prefix }}/ai/chat" style="text-decoration: none;">
                    <div class="ai-personality-button" style="margin-top: 20px; background-color: var(--purple); color: var(--white-color); border: none;">
                        Back to MyAI
                    </div>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="spaced-tile"></div>

    <div style="flex-direction: row; display: flex; width: 100%;">
        <div class="wrapping-tile" style="width: 50%; text-align: center; margin-left: 0; margin-right: 10px;">
            <h1>Delete GrütteID</h1>
            <form action="{{ url_prefix }}/delete_account" method="POST" id="delete_account" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                <input type="text" id="username" name="username" placeholder="Your username" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="password" name="password" placeholder="Your password" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="email" name="email" placeholder="Your email" autocomplete="off" required class="settings-input">
                <input type="submit" value="Delete my account" class="delete-account-button" style="margin-bottom: 10px;">
            </form>
        </div>
        <div class="wrapping-tile" style="width: 50%; text-align: center; margin-right: 0; margin-left: 10px;">
            <h1>YouTube Downloader</h1>
            The YouTube Downloader allows you to download videos from YouTube.<br>
            This feature is currently only available to GrütteChat PLUS users.<br>
            <div class="spaced-tile"></div>
            <div class="spaced-tile"></div>
            <!--<button class="settings-button"><a href="{{ url_prefix }}/youtube" style="text-decoration: none; color: var(--white-color);">Downloader</a></button>-->
            <p style="color: var(--yellow)">This feature is currently unavailable<br> Sorry about that :/</p>
            <button class="settings-button" style="background-color: var(--secondary-color);">Downloader</button>
        </div>
    </div>

    <div class="spaced-tile"></div>
    <div id="cookie-banner"></div>
    <div style="text-align: center; padding: 20px; box-sizing: border-box; margin-top: auto;">
        <a href="{{ url_prefix }}/about" style="text-decoration: none; color: var(--text-color)">
            About Us
        </a>
        &nbsp;|&nbsp;
        <a href="{{ url_prefix }}/help" style="text-decoration: none; color: var(--text-color)">
            Help Center
        </a>
        &nbsp;|&nbsp;
        <a href="{{ url_prefix }}/privacy" style="text-decoration: none; color: var(--text-color)">
            Privacy Policy
        </a>
    </div>
</body>
</html>

<script>
    // Dark mode toggle functionality
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;
    var isDarkMode = localStorage.getItem('darkMode');

    if (isDarkMode === 'true') {
        body.classList.add('dark-mode');
        document.documentElement.setAttribute('data-theme', 'dark');
        darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
    }

    darkModeToggle.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            body.classList.remove('dark-mode');
            localStorage.setItem('darkMode', 'false');
            document.documentElement.setAttribute('data-theme', 'light');
            darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
        } else {
            body.classList.add('dark-mode');
            localStorage.setItem('darkMode', 'true');
            document.documentElement.setAttribute('data-theme', 'dark');
            darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
        }
    });

    darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover

    // Check the cookie value
    function getCookieValue(cookieName) {
        var name = cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieArray = decodedCookie.split(';');
        for (var i = 0; i < cookieArray.length; i++) {
        var cookie = cookieArray[i];
        while (cookie.charAt(0) === ' ') {
            cookie = cookie.substring(1);
        }
        if (cookie.indexOf(name) === 0) {
            return cookie.substring(name.length, cookie.length);
        }
        }
        return "";
    }
    
    // Check the cookie value and show/hide the HTML tag
    var cookieValue = getCookieValue("username");
    if (cookieValue === "jan") {
        document.getElementById("dashboard").style.display = "inline";
    } else {
        document.getElementById("dashboard").style.display = "none";
    }
</script>

<script>
    // Show error message and fade out after 5 seconds
    var errorMessage = document.getElementById('error-message');
    {% if error %}
        errorMessage.style.display = 'block';
        setTimeout(function() {
            errorMessage.style.opacity = '0';
            setTimeout(function() {
                errorMessage.style.display = 'none';
                errorMessage.style.opacity = '1';
            }, 500);
        }, 10000);
    {% endif %}
</script>

<script src="https://jan.gruettefien.com/static/cookies.js"></script>