<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Settings | GrütteChat</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://jan.gruettefien.com/static/stylesheet.css">
    <link rel="icon" href="https://jan.gruettefien.com/static/gruettechat.png">
</head>
<body>

    <div class="header">
        <div class="dark-mode-toggle">
            <a href="{{ url_suffix }}/" class="white-button-blue-on-hover" title="Back to home"><span class="material-symbols-outlined">arrow_back_ios_new</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>
        </div>
        <div class="centered-content">
            <a href="{{ url_suffix }}/" class="logo" title="Home">
                <img src="../static/gruettechat.png" style="width: 40px; height: 40px;" title="GrütteChat">
            </a>
        </div>
        <div class="dark-mode-toggle" style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <a href="{{ url_suffix }}/help" class="white-button-blue-on-hover" title="Help Center"><span class="material-symbols-outlined">help_center</span></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{{ url_suffix }}/logout" class="logout" title="Logout"><span class="material-symbols-outlined">logout</span></a>
        </div>
    </div>

    {% if error %}
        <div id="error-message" style="display: none;">
            <div class="wrapping-tile" style="text-align: center;">
                <div class="inner-tile" style="color: var(--yellow)">
                    {{ error }}
                </div>
            </div>
            <div class="spaced-tile"></div>
        </div>
    {% endif %}
    {% if not has_premium %}
        <div class="wrapping-tile" style="text-align: center;">
            <a href="{{ url_suffix }}/premium" style="text-decoration: none; color: var(--white-color);">
                <div class="premium-tile">
                    <h1>Unlock GrütteChat PLUS</h1>
                    for only 2.99€ once!
                </div>
            </a>
        </div>
        <div class="spaced-tile"></div>
    {% endif %}
    <div style="flex-direction: row; display: flex; width: 100%;">
        <div class="wrapping-tile" style="width: 50%; text-align: center; margin-left: 0; margin-right: 10px;">
            <h1>Change password</h1>
            <form action="{{ url_suffix }}/change_password" method="POST" id="change_password" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                <input type="text" id="old_password" name="old_password" placeholder="Old password" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="new_password" name="new_password" placeholder="New password" autocomplete="off" required class="settings-input">
                <input type="submit" value="Change password" class="settings-button">
            </form>
            <div class="spaced-tile"><br></div>
            <h1>Change email</h1>
            <form action="{{ url_suffix }}/change_email" method="POST" id="change_email" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                <input type="text" id="new_email" name="new_email" placeholder="New email" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="password" name="password" placeholder="Password" autocomplete="off" required class="settings-input">
                <input type="submit" value="Change email" class="settings-button" style="margin-bottom: 10px;">
            </form>
        </div>
        <div class="wrapping-tile" style="width: 50%; margin: 0 auto; margin-right: 0; margin-left: 10px;">
            <h1>MyAI personality</h1>
            <a href="{{ url_suffix }}/change_ai_personality/Default" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Default' or not selected_personality%}background-color: var(--primary-color); color: var(--white-color); {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Default
                </div>
            </a>
            <a href="{{ url_suffix }}/change_ai_personality/UwuGirl" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'UwuGirl' %}background-color: var(--primary-color); color: var(--white-color); {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Uwu Girl (NSFW)
                </div>
            </a>
            <a href="{{ url_suffix }}/change_ai_personality/DonaldTrump" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'DonaldTrump' %}background-color: var(--primary-color); color: var(--white-color); {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Donald Trump
                </div>
            </a>
            <a href="{{ url_suffix }}/change_ai_personality/Pirate" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Pirate' %}background-color: var(--primary-color); color: var(--white-color); {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Pirate
                </div>
            </a>
            <a href="{{ url_suffix }}/change_ai_personality/Pistachio" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Pistachio' %}background-color: var(--primary-color); color: var(--white-color); {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Pistachio
                </div>
            </a>
            <a href="{{ url_suffix }}/change_ai_personality/Backus" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Backus' %}background-color: var(--primary-color); color: var(--white-color); {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Backus
                </div>
            </a>
            <a href="{{ url_suffix }}/change_ai_personality/Lorde" style="text-decoration: none;">
                <div class="ai-personality-button" style="{% if selected_personality == 'Lorde' %}background-color: var(--primary-color); color: var(--white-color); {% else %}background-color: var(--background-tile-color); {% endif %}">
                    Lorde
                </div>
            </a>
            {% if display_back_to_ai %}
                <a href="{{ url_suffix }}/ai/chat" style="text-decoration: none;">
                    <div class="ai-personality-button" style="margin-top: 20px; background-color: var(--purple);">
                        Back to MyAI
                    </div>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="spaced-tile"></div>

    <div style="flex-direction: row; display: flex; width: 100%;">
        <div class="wrapping-tile" style="width: 50%; text-align: center; margin-left: 0; margin-right: 10px;">
            <h1>Delete account</h1>
            <form action="{{ url_suffix }}/delete_account" method="POST" id="delete_account" style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                <input type="text" id="username" name="username" placeholder="Your username" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="password" name="password" placeholder="Your password" autocomplete="off" required class="settings-input">
                <div class="spaced-tile"></div>
                <input type="text" id="email" name="email" placeholder="Your email" autocomplete="off" required class="settings-input">
                <input type="submit" value="Delete my account" class="delete-account-button" style="margin-bottom: 10px;">
            </form>
        </div>
        <div style="width: 50%; text-align: center; margin-right: 0; margin-left: 10px;">
        </div>
    </div>

    <div class="spaced-tile"></div>

    <div style="text-align: center; padding: 20px; box-sizing: border-box; margin-top: auto;">
        <a href="{{ url_suffix }}/about" style="text-decoration: none; color: var(--text-color)">
            About Us
        </a>
        &nbsp;|&nbsp;
        <a href="{{ url_suffix }}/help" style="text-decoration: none; color: var(--text-color)">
            Help Center
        </a>
        &nbsp;|&nbsp;
        <a href="{{ url_suffix }}/privacy" style="text-decoration: none; color: var(--text-color)">
            Privacy Policy
        </a>
    </div>

</body>
</html>

<script>
    // Dark mode toggle functionality
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;
    var isDarkMode = localStorage.getItem('darkMode');

    if (isDarkMode === 'true') {
        body.classList.add('dark-mode');
        document.documentElement.setAttribute('data-theme', 'dark');
        darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
    }

    darkModeToggle.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            body.classList.remove('dark-mode');
            localStorage.setItem('darkMode', 'false');
            document.documentElement.setAttribute('data-theme', 'light');
            darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
        } else {
            body.classList.add('dark-mode');
            localStorage.setItem('darkMode', 'true');
            document.documentElement.setAttribute('data-theme', 'dark');
            darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
        }
    });

    darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover
</script>

<script>
    // Show error message and fade out after 5 seconds
    var errorMessage = document.getElementById('error-message');
    {% if error %}
        errorMessage.style.display = 'block';
        setTimeout(function() {
            errorMessage.style.opacity = '0';
            setTimeout(function() {
                errorMessage.style.display = 'none';
                errorMessage.style.opacity = '1';
            }, 500);
        }, 10000);
    {% endif %}
</script>