<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>GrütteStorage | GrütteCloud</title>
    <meta name="google-site-verification" content="gEiw9Swqs11DLP3QTgR8Y6hHGjQnhSWWud7LivLEmHs" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
    <link rel="stylesheet" href="https://www.gruettecloud.com/static/stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="https://www.gruettecloud.com/static/GrütteStorage.png">
    <script src="https://www.gruettecloud.com/static/switchservice.js"></script>
</head>
<body>
    <div class="header">
        <div class="dark-mode-toggle">
            <span id="darkModeToggle" class="material-symbols-outlined white-button-blue-on-hover" title="Darkmode">light_mode</span>&nbsp;&nbsp;&nbsp;&nbsp;
            {% if is_admin %}
                <span id="dashboard" style="display: inline;"><a href="/dashboard" class="white-button-blue-on-hover" title="Dashboard"><span class="material-symbols-outlined">code</span></a></span>
            {% endif %}
        </div>
        <div class="centered-content">
            <a href="/storage" class="logo" title="Home">
                <img src="https://www.gruettecloud.com/static/GrütteStorage.png" style="width: 40px; height: 40px;" title="GrütteStorage">
            </a>
        </div>
        <div style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
            <div class="dropdown">
                <button class="white-button-blue-on-hover" onclick="toggleDropdown()" style="background-color: var(--background-color); border: none;">
                    <span class="material-symbols-outlined" title="GrütteCloud">apps</span>
                </button>
                <div class="dropdown-menu" style="z-index: 2; padding: 20px; text-align: center; border-radius: 20px;">
                    {% if menu %}
                        <img src="https://www.gruettecloud.com/static/profile_pictures/{{ menu["pfp"] }}" style="width: 80px; height: 80px; margin-bottom: 10px; border-radius: 50%;">
                    {% endif %}
                    <h1 style="display: flex; align-items: center; justify-content: center; font-size: 1.5em;">
                        {% if menu %}
                            Hi, {{ menu["username"] }}!
                        {% else %}
                            Hi, there!
                        {% endif %}
                    </h1>
                    {% if menu %}
                        <a href="/account" title="Manage Account" style="background-color: var(--primary-color); border-radius: 20px; color: var(--white-color);">Manage Account</a>
                    {% else %}
                        <a href="/" title="Get Started" style="background-color: var(--primary-color); border-radius: 20px; color: var(--white-color);">Get Started</a>
                    {% endif %}
                    <hr style="display: block; border: 1px solid var(--secondary-color); border-radius: 5px; margin-top: 20px; margin-bottom: 20px;">
                    <a href="/home" title="Discover" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">explore</span>&nbsp;&nbsp;Home</a>
                    <a href="/chat" title="GrütteChat" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">forum</span>&nbsp;&nbsp;GrütteChat</a>
                    <a href="/storage" title="GrütteStorage" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">cloud_upload</span>&nbsp;&nbsp;GrütteStorage</a>
                    <hr style="display: block; border: 1px solid var(--secondary-color); border-radius: 5px; margin-top: 20px; margin-bottom: 20px;">
                    {% if menu %}
                        <a href="/logout" title="Logout" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">logout</span>&nbsp;&nbsp;Logout</a>
                    {% else %}
                        <a href="/about" title="About" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">info</span>&nbsp;&nbsp;About</a>
                        <a href="/terms" title="Terms of Service" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">description</span>&nbsp;&nbsp;Terms of Service</a>
                        <a href="/privacy" title="Privacy Policy" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">privacy_tip</span>&nbsp;&nbsp;Privacy Policy</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="desktop-only">
        <div style="flex-direction: row; display: flex; width: 100%;">
            <div style="width: 40%; text-align: center; margin-left: 0; margin-right: 10px; align-content: center;">
                <div class="wrapping-tile" style="height: 30vh; padding: 20px;">
                    <label for="file-input" class="drop-area" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" onclick="selectFile()" style="display: flex;" id="drop-area">
                        <p>Drag and drop files here<br>or click to select a file</p>
                    </label>
                    <input id="file-input" type="file" onchange="handleFile(this.files)">
                    <p class="drop-area-style" id="uploading-message" style="display: none; color: var(--yellow)"><i class="fa fa-spinner fa-spin" style="margin-right: 10px;"></i> Uploading</p>
                    <p class="drop-area-style" id="upload-confirmed" style="display: none; color: var(--green)">File uploaded successfully!</p>
                </div>
                <!--<div class="spaced-tile"></div>
                <div class="wrapping-tile" style="padding: 20px; text-align: center;">
                    <h2 align="center" style="margin-bottom: 10px;">YouTube Downloader</h2>
                    <a href="/youtube" class="button-gray" style="width: 100%; height: 45px; font-size: 18px; text-decoration: none; display: flex; align-items: center; justify-content: center;">
                        <span class="material-symbols-outlined">arrow_downward</span>
                        <span style="margin-left: 10px;">Download</span>
                    </a>
                </div>-->
                <div class="spaced-tile"></div>
                <div class="wrapping-tile" style="padding: 20px;">
                    <h2 align="center" style="margin-bottom: 10px;">Storage</h2>
                    <div>
                        <div style="display: flex; align-items: center;">
                            <div style="flex-grow: 1;">
                                <div class="progress-bar" style="background-color: var(--secondary-color); height: 1em; margin-top: 0px;">
                                    <div class="progress-bar-fill" style="width: {{ size_percentage }}%;"></div>
                                </div>
                            </div>
                        </div>
                        <p style="margin-top: 10px;">{{ size_formatted }} of 5 GB used</p>
                    </div>
                </div>
            </div>
            <div class="wrapping-tile" style="width: 60%; margin: 0 auto; margin-right: 0; margin-left: 10px; padding: 20px;">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <button class="button-gray" style="padding: 0; margin: 0; display: flex; align-items: center; justify-content: center; background-color: var(--background-tile-color);" onclick="toggleSearchBar()">
                        <span class="white-button-blue-on-hover material-symbols-outlined">search</span>
                    </button>
                    <div style="flex: 1; position: relative;">
                        <h2 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Your Files</h2>
                    </div>
                </div>
                
                           
                <input type="text" id="file-search-input" placeholder="Search Files..." class="settings-input" style="margin-left: 0; display: none; margin-top: 10px; margin-bottom: 10px;">
                <div class="file-list">
                    {% if not files %}
                        <div class="no-files">
                            <p>No files found</p>
                        </div>
                    {% endif %}
                    {% for file in files %}
                        <hr style="border: 1px solid var(--secondary-color); border-radius: 5px;">
                        <div class="search-item file-search-item" style="display: flex; align-items: center; margin-top: 10px; margin-bottom: 10px; border: none; border-radius: 5px; cursor: text;">
                            <a href="/open/{{ file["link"] }}/download" title="Download" style="text-decoration: none; color: var(--text-color);"><span class="white-button-blue-on-hover material-symbols-outlined" style="display: flex; align-items: center; justify-content: center;">download</span></a>
                            {% if file["type"] != "youtube" %}
                                <a href="/open/{{ file["link"] }}/preview" title="Preview" style="margin-left: 20px; text-decoration: none; color: var(--text-color);"><span class="white-button-blue-on-hover material-symbols-outlined" style="display: flex; align-items: center; justify-content: center;">visibility</span></a>
                            {% else %}
                                <a href="{{ file["youtube_link"] }}" title="Watch on YouTube" style="margin-left: 20px; text-decoration: none; color: var(--text-color);"><span class="logout material-symbols-outlined" style="display: flex; align-items: center; justify-content: center;">youtube_activity</span></a>
                            {% endif %}
                            <a href="/file/{{ file["link"] }}" title="More Info" style="margin-left: 20px; text-decoration: none; color: var(--text-color);"><span class="white-button-blue-on-hover material-symbols-outlined" style="{% if file["type"] == "shared" %}color: var(--green); {% endif %}display: flex; align-items: center; justify-content: center;">info</span></a>

                            <div class="text-offcutter" style="margin-left: 20px; width: 125px; text-align: left;">
                                <p class="text-offcutter" style="color: var(--text-color); font-size: 18px; text-decoration: none; display: flex; align-items: center; justify-content: left;">{{ file["size"] }}</p>
                            </div>
                            <div class="text-offcutter" style="margin-left: 20px; flex-grow: 1; text-align: left;">
                                <p class="filename text-offcutter" style="color: var(--text-color); font-size: 18px; text-decoration: none; display: flex; align-items: center; justify-content: left;">{{ file["filename"] }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-only">
        <div class="wrapping-tile">
            <label for="file-input" class="drop-area" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" onclick="selectFile()" style="display: flex;" id="drop-area">
                <p>Drag and drop files here<br>or click to select a file</p>
            </label>
            <input id="file-input" type="file" onchange="handleFile(this.files)">
            <p class="drop-area-style" id="mobile-uploading-message" style="display: none; color: var(--yellow)"><i class="fa fa-spinner fa-spin" style="margin-right: 10px;"></i> Uploading</p>
            <p class="drop-area-style" id="mobile-upload-confirmed" style="display: none; color: var(--green)">File uploaded successfully!</p>
        </div>
        <div class="spaced-tile"></div>
        <div class="wrapping-tile" style="margin-bottom: 10px; padding: 20px;">
            <h2 align="center">Your files</h2>
            {% if not files %}
                <div class="inner-tile" style="height: 100%">
                    <div class="no-files">
                        <p>You have not uploaded anything yet.</p>
                    </div>
                </div>
            {% endif %}
            <div class="file-list">
                {% for file in files %}
                    <div style="display: flex; align-items: center; margin-bottom: 5px; background-color: var(--secondary-color); border: none; border-radius: 5px; cursor: text;">
                        <button class="button-gray text-offcutter" style="flex-grow: 1; text-align: left; margin-right: 10px; padding-right: 5px;">
                            <a href="/open/{{ file["link"] }}/download" style="color: var(--text-color); text-decoration: none; display: flex; align-items: center;" title="Download">
                                <span style="color: var(--text-color); font-size: 18px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ file["filename"] }}</span>
                            </a>
                        </button>
                        <button class="button-gray" style="height: 45px; width: 60px;{% if file["type"] == "shared" %} background-color: var(--green);{% elif file["type"] == "youtube" %} background-color: var(--red);{% endif %}">
                            <a href="/file/{{ file["link"] }}" style="color: var(--text-color); display: flex; align-items: center; justify-content: center;">
                                <span class="material-symbols-outlined">info</span>
                            </a>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="spaced-tile"></div>
        <div class="wrapping-tile" style="padding: 20px;">
            <h2 align="center" style="margin-bottom: 10px;">Storage</h2>
            <div>
                <div style="display: flex; align-items: center;">
                    <div style="flex-grow: 1;">
                        <div class="progress-bar" style="background-color: var(--secondary-color); height: 1em; margin-top: 0px;">
                            <div class="progress-bar-fill" style="width: {{ size_percentage }}%;"></div>
                        </div>
                    </div>
                </div>
                <p style="margin-top: 10px; text-align: center;">{{ size_formatted }} of 5 GB used</p>
            </div>
        </div>
        <div class="spaced-tile"></div>
        <div class="wrapping-tile" style="padding: 20px; text-align: center;">
            <h2 align="center" style="margin-bottom: 10px;">YouTube Downloader</h2>
            <div class="spaced-tile"></div>
            <a href="/youtube" class="button-gray" style="width: 100%; height: 45px; font-size: 18px; text-decoration: none; display: flex; align-items: center; justify-content: center;">
                <span class="material-symbols-outlined">arrow_downward</span>
                <span style="margin-left: 10px;">Download</span>
            </a>
        </div>
    </div>
    
    <div style="display: flex; justify-content: center; padding: 20px; box-sizing: border-box; margin-top: auto;">
        <div style="display: flex;">
            <div style="width: 50%; margin-right: 20px; text-align: left;">
                <b style="font-size: 0.9em;">GrütteCloud</b>
                <div style="white-space: nowrap; line-height: 1em;">
                    <a class="footer-link" href="/help">Help Center</a><br>
                    <a class="footer-link" href="/discover">What is GrütteCloud?</a><br>
                    <a class="footer-link" href="/support">Contact Support</a>
                </div>
            </div>
            <div style="width: 50%; text-align: left;">
                <b style="font-size: 0.9em;">Legal</b>
                <div style="white-space: nowrap; line-height: 1em;">
                    <a class="footer-link" href="/about">Über Uns</a><br>
                    <a class="footer-link" href="/terms">Terms of Service</a><br>
                    <a class="footer-link" href="/privacy">Privacy Policy</a>
                </div>
            </div>                
        </div>
    </div>
    <div id="beta-banner"></div>
    <div id="cookie-banner"></div>
</body>
</html>


<script>
    // Dark mode toggle functionality
    var darkModeToggle = document.getElementById('darkModeToggle');
    var body = document.body;
    var isDarkMode = localStorage.getItem('darkMode');

    if (isDarkMode === 'true') {
        body.classList.add('dark-mode');
        document.documentElement.setAttribute('data-theme', 'dark');
        darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
    }

    darkModeToggle.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            body.classList.remove('dark-mode');
            localStorage.setItem('darkMode', 'false');
            document.documentElement.setAttribute('data-theme', 'light');
            darkModeToggle.innerHTML = 'light_mode'; // Change the inner HTML to the light mode icon
        } else {
            body.classList.add('dark-mode');
            localStorage.setItem('darkMode', 'true');
            document.documentElement.setAttribute('data-theme', 'dark');
            darkModeToggle.innerHTML = 'dark_mode'; // Change the inner HTML to the dark mode icon
        }
    });

    darkModeToggle.style.cursor = 'pointer'; // Add this line to change the cursor to a pointer on hover

    // Function to trigger file selection when the drop area is clicked
    function selectFile(event) {
        event.stopPropagation(); // Stop event propagation
        document.getElementById('file-input').click();
    }

    // Function to handle the selected file
    function handleFile(files) {
        if (files.length > 0) {
            var file = files[0];
            var fileSizeInBytes = file.size;
            var maxSizeInBytes = 5 * 1024 * 1024 * 1024; // 5 GB
    
            if (fileSizeInBytes > maxSizeInBytes) {
                alert('File size exceeds the allowed limit of 5GB. Please select a smaller file.');
                return;
            }
    
            // Show the "uploading-message" div and hide the "drop-area" div
            document.getElementById('uploading-message').style.display = 'flex';
            document.getElementById('mobile-uploading-message').style.display = 'flex';

            var dropAreas = document.getElementsByClassName('drop-area');
            for (var i = 0; i < dropAreas.length; i++) {
                dropAreas[i].style.display = 'none';
            }
    
            var formData = new FormData();
            formData.append('file', file);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);
            xhr.onload = function () {
                // Hide the "uploading-message" div and show the "drop-area" div
                document.getElementById('uploading-message').style.display = 'none';
                document.getElementById('mobile-uploading-message').style.display = 'none';
    
                if (xhr.status === 200) {
                    document.getElementById('file-input').value = ''; // Clear the file input value

                    var uploadConfirmedMessage = document.getElementById('upload-confirmed');
                    var mobileUploadConfirmedMessage = document.getElementById('mobile-upload-confirmed');

                    uploadConfirmedMessage.style.display = 'flex';
                    mobileUploadConfirmedMessage.style.display = 'flex';
                    setTimeout(function() {
                        uploadConfirmedMessage.style.display = 'none';
                        mobileUploadConfirmedMessage.style.display = 'none';

                        var dropAreas = document.getElementsByClassName('drop-area');
                        for (var i = 0; i < dropAreas.length; i++) {
                            dropAreas[i].style.display = 'flex';
                        }

                        window.location.reload(); // Refresh the page to update the file list
                    }, 2000);
                } else {
                    alert('Error uploading file. Please try again.');
                }
            };
            xhr.send(formData);
        }
    }
    

    function dragOverHandler(event) {
        event.preventDefault();
        event.dataTransfer.dropEffect = "copy";
    }

    function dropHandler(event) {
        event.preventDefault();
        var files = event.dataTransfer.files;
        handleFile(files);
    }
</script>

<script>
    // Function to toggle the display of the search bar
    function toggleSearchBar() {
        const searchBar = document.getElementById('file-search-input');
        searchBar.style.display = searchBar.style.display === 'none' ? 'block' : 'none';
        handleFileSearch(); // Call the search function to update the file display
    }

    // Function to handle file search functionality
    function handleFileSearch() {
        const searchInput = document.getElementById('file-search-input');
        const fileItems = document.getElementsByClassName('file-search-item');

        // Get the search term from the input, or set it to an empty string if the input is hidden
        const searchTerm = searchInput.style.display !== 'none' ? searchInput.value.toLowerCase() : '';

        for (let item of fileItems) {
            const fileName = item.querySelector('.filename').textContent.toLowerCase();
            const fileDescription = item.querySelector('.text-offcutter').textContent.toLowerCase();
            const isMatch = fileName.includes(searchTerm) || fileDescription.includes(searchTerm);
            item.style.display = isMatch ? 'flex' : 'none';
        }
    }

    // Add event listener to the search input field
    const fileSearchInput = document.getElementById('file-search-input');
    fileSearchInput.addEventListener('input', handleFileSearch);
</script>




<script src="https://www.gruettecloud.com/static/cookies.js"></script>
<script src="https://www.gruettecloud.com/static/betanotice.js"></script>