<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
</head>
<body>
    <h1>Swipe Tester</h1>
    <div id="swipe-area" style="width: 100%; height: 70svh; background-color: #ccc;">
        <p id="action">Swipe here</p>
    </div>
</body>
</html>

<script>
    let startY;
    let endY;
    const touchThreshold = 50;
    
    const swipeArea = document.getElementById('swipe-area');
    const actionTitle = document.getElementById('action');
    
    swipeArea.addEventListener('touchstart', (e) => {
      startY = e.touches[0].clientY;
    });
    
    swipeArea.addEventListener('touchmove', (e) => {
      endY = e.touches[0].clientY;
    });
    
    swipeArea.addEventListener('touchend', () => {
      if (startY - endY > touchThreshold) {
        // Swipe up
        document.getElementById('action').innerHTML = 'You swiped up!';
        
      } else if (endY - startY > touchThreshold) {
        // Swipe down
        document.getElementById('action').innerHTML = 'You swiped down!';
        
      }
    });
</script>