<div id="footer" style="display: flex; justify-content: center; padding: 20px; box-sizing: border-box; margin-top: auto;">
    <div style="display: flex;">
        <div style="width: 50%; margin-right: 20px; text-align: left;">
            <b style="font-size: 0.9em;">GrütteCloud</b>
            <div style="white-space: nowrap; line-height: 1em;">
                <a class="footer-link" href="/help">Help Center</a><br>
                <a class="footer-link" href="/discover">What is GrütteCloud?</a><br>
                <a class="footer-link" href="/support">Contact Support</a>
            </div>
        </div>
        <div style="width: 50%; text-align: left;">
            <b style="font-size: 0.9em;">Legal</b>
            <div style="white-space: nowrap; line-height: 1em;">
                <a class="footer-link" href="about">Über Uns</a><br>
                <a class="footer-link" href="/terms">Terms of Service</a><br>
                <a class="footer-link" href="/privacy">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const footer = document.getElementById('footer');

        const cookieExists = document.cookie.indexOf('developerview=true') !== -1;

        if (cookieExists) {
            footer.style.display = "none"
        } else {
            footer.style.display = "flex"
        }
    });
</script>