<div style="position: absolute; top: 20px; right: 0; transform: translateX(100%-20px); padding-right: 20px">
    <div class="dropdown">
        <button class="white-button-blue-on-hover" onclick="toggleDropdown()" style="background-color: transparent; border: none;">
            <span class="material-symbols-outlined" title="GrütteCloud">apps</span>
        </button>
        <div class="dropdown-menu" style="z-index: 2; padding: 20px; text-align: center; border-radius: 20px;">
            {% if menu %}
                <img src="https://www.gruettecloud.com/static/profile_pictures/{{ menu["pfp"] }}" style="width: 80px; height: 80px; margin-bottom: 10px; border-radius: 50%;">
            {% endif %}
                <h1 style="display: flex; align-items: center; justify-content: center; font-size: 1.5em;">
                    {% if menu %}
                        Hi, {{ menu["username"] }}!
                    {% else %}
                        Hi, there!
                    {% endif %}
                </h1>
            {% if menu %}
                <a href="/settings" title="Manage Account" style="background-color: var(--primary-color); border-radius: 20px; color: var(--white-color);">Manage Account</a>
            {% else %}
                <a href="/" title="Get Started" style="background-color: var(--primary-color); border-radius: 20px; color: var(--white-color);">Get Started</a>
            {% endif %}
            <hr style="display: block; border: 1px solid var(--secondary-color); border-radius: 5px; margin-top: 20px; margin-bottom: 20px;">
            <a href="/discover" title="Discover" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">explore</span>&nbsp;&nbsp;Home</a>
            <a href="/chat" title="GrütteChat" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">forum</span>&nbsp;&nbsp;GrütteChat</a>
            <a href="/drive" title="GrütteDrive" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">cloud_upload</span>&nbsp;&nbsp;GrütteDrive</a>
            <div style="position: absolute; right: 20px; font-size: 0.8em; color: var(--white-color); text-align: left; background-color: var(--red); border-radius: 20px; padding: 3px 7px; margin-top: 4px;">
                NEW!
            </div>
            <a href="/maps" title="GrütteMaps" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">map</span>&nbsp;&nbsp;GrütteMaps</a>
            <div style="position: absolute; right: 20px; font-size: 0.8em; color: var(--white-color); text-align: left; background-color: var(--red); border-radius: 20px; padding: 3px 7px; margin-top: 4px;">
                NEW!
            </div>
            <a href="/spending" title="Expense Tracker" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">payments</span>&nbsp;&nbsp;Expense Tracker</a>
            {% if menu["admin"] %}
                <a href="/dashboard" title="Dashboard" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">code</span>&nbsp;&nbsp;Dashboard</a>
            {% endif %}
            <hr style="display: block; border: 1px solid var(--secondary-color); border-radius: 5px; margin-top: 20px; margin-bottom: 20px;">
            {% if menu %}
                <a href="/settings" title="Settings" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">settings</span>&nbsp;&nbsp;Settings</a>
                <a href="/logout" title="Logout" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">logout</span>&nbsp;&nbsp;Logout</a>
            {% else %}
                <a href="/about" title="About" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">info</span>&nbsp;&nbsp;About</a>
                <a href="/terms" title="Terms of Service" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">description</span>&nbsp;&nbsp;Terms of Service</a>
                <a href="/privacy" title="Privacy Policy" style="text-align: left;"><span class="material-symbols-outlined align-icons-center">privacy_tip</span>&nbsp;&nbsp;Privacy Policy</a>
            {% endif %}
        </div>
    </div>
</div>
<script src="https://www.gruettecloud.com/static/nav-element.js"></script>